.supplier-document-table {
  :global(.ant-table-body) {
    overflow: auto !important;
  }

  .file-loaded {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 6px;
    padding: 6px 0;

    :global(.file-loaded-item) {
      grid-column: span 6;
    }

    :global(.file-loaded-container) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      height: 32px;
      border-radius: 4px;
      border: 1px solid var(--color-bg-button-disable);
      text-align: left;
      background-color: white;
    }
  }
  .text-blue {
    color: var(--palette-base-blue-5);
    cursor: pointer;
  }

  :global(.ant-table-cell):has(.vertical_baseline) {
    vertical-align: baseline;
  }
}
