:global(.drawer__container).supplier-drawer-detail__container
  + :global(.overlay) {
  background-color: transparent;
  cursor: default;
}

:global(
    .drawer__container.slide-out.drawer-2xl
  ).supplier-drawer-detail__container {
  width: 1100px;

  :global(.drawer_footer) {
    width: 1100px;
    z-index: 2;
  }

  :global(.collapse__header-title) {
    font-size: 16px !important;
  }

  :global(.collapse__container) {
    margin-top: 4px !important;
  }
  .drawer-border-top {
    padding-top: 24px;
    border-bottom: 1px solid var(--palette-base-neutral-3);
  }
}
