.attachments {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .form-upload {
    flex: 1;
  }

  .items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;

    &_file {
      width: calc(50% - 8px);
    }
  }

  .items-view {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 16px;

    &_file {
      width: 100%;
    }
  }
}

// attachment view
.attachment-container {
  width: 100%;
  .attachment-title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .show-more-button {
    display: flex;
    margin: 0 auto;
    color: #077eda;
    font-weight: 600;
    border: none;
    background-color: transparent;
  }
}
