.custom_file {
  :global(.file-loaded-container) {
    height: 32px;
    padding: 6px;
    margin-bottom: 0;
  }
}

.minHeight {
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 6px 8px;
}

.custom_cell {
  :global(.text-in-table-cell > div) {
    display: grid;
    width: 100%;
  }
}
