.table-purchase-info-wrapper {
  border-top: 1px solid var(--palette-base-neutral-3);
  padding: 16px 16px;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }

  .header-button {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
  }

  .table {
    &__cell-blue {
      color: var(--palette-base-blue-5) !important;
    }

    &__cell_text_below {
      font-size: 12px;
      color: var(--palette-base-neutral-7) !important;
    }

    &__width-8 {
      width: 2px;
    }
  }

  .body {
    .total-row {
      background-color: var(--palette-base-neutral-2);
      td {
        background-color: var(--palette-base-neutral-2);
      }
    }
  }

  td.ant-table-cell:has(.data-with-collapse) {
    display: flex;
    align-items: center;
  }

  div.ant-table-selection:has(.ant-checkbox-wrapper) {
    height: 100%;
  }

  .drawer__container {
    top: 48px;
  }

  .drawer__header-text {
    .title {
      font-size: 18px;
      font-weight: 700;
      color: var(--palette-base-neutral-10);
    }
  }

  .cell-error {
    padding-left: 0;
    padding-right: 0;
  }
}

.ant-table-wrapper.no-border-collapse-table {
  table {
    border-collapse: separate !important;
  }

  .ant-table-body {
    scrollbar-width: auto;
    overflow-y: hidden !important;

    &::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
    }
  }
}
