.action__filter {
  .input {
    width: 616px;

    .input-text__wrapper {
      height: 100%;

      .component__input {
        height: 100% !important;
      }
    }
  }

  .form-item {
    width: 210px;

    .multiple-select__container {
      .component__input {
        height: 40px !important;
      }
    }
  }
}

.asset-table__wrapper {
  .ant-table-header {
    thead {
      height: 44px;
    }
  }

  .action-bar-container {
    margin-top: 8px;
  }

  .ant-table-container::before {
    width: 50px;
  }

  .cell-two-line {
    margin: 8px 0;
    .text-first__style {
      margin-bottom: 4px;
    }
  }

  .action-bar-container {
    width: 100%;
  }

  .cell-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2px;
    .column-code {
      color: var(--palette-base-neutral-7);
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
    }
  }
}
