.header-wrapper {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--palette-base-neutral-10);
  background-color: white;
  border-bottom: 1px solid var(--palette-base-neutral-3);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;

  //border-bottom: 1px solid var(--palette-gray-80);
  .header-action {
    display: flex;
    align-items: center;
    background-color: white;
  }

  a {
    text-decoration: none !important;

    &:hover {
      color: var(--theme-text-color);
    }
  }

  .logo-title {
    font-weight: 600;
  }

  .header-box__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 48px;
    height: 47px;
    color: var(--palette-base-neutral-10);
    background-color: white;
    border: none;

    &:visited {
      color: var(--palette-base-neutral-10);
    }

    &:hover {
      color: var(--color-navbar-hover);
    }

    &:active {
      // background-color: var(--color-secondary);
      outline: none;

      svg {
        path {
          fill: var(--color-navbar-hover);
        }
      }
    }

    &:focus-within {
      // background-color: var(--color-secondary);
      outline: none;

      svg {
        path {
          fill: var(--color-navbar-hover);
        }
      }
    }

    &.disabled {
      color: var(--palette-gray-50) !important;
      background-color: var(--palette-gray-30) !important;
    }
  }

  .header-box {
    display: flex;
    align-items: center;

    .header-box__logo {
      display: flex;

      .header-logo {
        padding: 16px;

        .header-logo__link {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 8px;
          // background: var(--palette-gray-100);
          // box-shadow: inset -2px 0px 0px #393939;
          box-shadow: inset -2px 0px 0px var(color-navbar-underline-boxshadow);

          .header-logo__title {
            color: var(--palette-gray-100);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.1599999964237213px;
            text-align: center;
          }

          .header-logo__icon {
            // margin-right: 10.25px;
            color: #ffffff;
          }

          .header-logo__image {
            width: 105px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      .header_divider {
        border: 1px solid var(--palette-base-neutral-3);
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }

  .header-box__btn-toggle {
    display: none;
  }

  .switcher-box__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 48px;
    height: 47px;
    background-color: var(--color-white);

    border: none;

    svg {
      path {
        fill: var(--palette-base-neutral-10);
      }
    }

    &.header-box__btn-noti,
    &.header-box__btn-profile {
      height: 48px;
      border-bottom: 1px solid var(--theme-color);
      outline: none;
      // border-left: 1px solid var(--palette-gray-80);
      // border-right: 1px solid var(--palette-gray-80);
    }

    &:visited {
      color: var(--color-white);
    }

    &:hover {
      color: var(--color-navbar-hover);

      svg {
        path {
          fill: var(--color-navbar-hover);
        }
      }
    }

    &:active,
    &:focus,
    &:focus-visible {
      outline: none;

      svg {
        path {
          fill: var(--color-navbar-hover);
        }
      }
    }

    &.disabled {
      color: var(--palette-gray-50) !important;
      background-color: var(--palette-gray-30) !important;
    }

    // &.switcher-box__btn-close {
    //   border-left: 1px solid var(--palette-gray-80);
    // }
  }

  .header-navbar {
    position: static;
  }

  @media (max-width: 992px) {
    .header-box__btn-toggle {
      display: flex;
    }

    .header-navbar {
      position: absolute;
      top: 48px;
      width: 100%;
    }
  }
}

.lang-dropdown {
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .lang-dropdown__item {
    &:hover {
      cursor: pointer;
    }
  }
}
