.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--palette-base-neutral-7);
  display: flex;
  align-items: center;
  justify-content: start;
}

.table-custom {
  background-color: #f4f5f7;
  border: 1px solid #dfe1e6;
  width: 650px;
}
.row {
  border: 1px solid #dee2e6; /* Màu border mặc định của Bootstrap */
}

.cell {
  height: 72px;
  padding: 0 16px;
}

.tertiary {
  color: var(--color-text-tertiary);
}

.font-12 {
  font-size: 12px;
}

.font-10 {
  font-size: 10px;
}

.color-text {
  color: var(--color-text);
}
