.header__container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 8px;

  .search-bar {
    width: 400px;
    max-width: 400px;
    flex: 4;
  }

  .select__wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex: 6;

    .select-div {
      width: 40%;
      max-width: 210px;
    }

    .select__container {
      margin: 0px;
      padding: 0px;
      max-width: 100%;
    }
  }
}

.text-first__style {
  font-size: 14px;
  line-height: 20px;
  color: var(--palette-base-neutral-10);
  margin-bottom: 2px;
}

.text-second__style {
  font-size: 12px !important;
  line-height: 16px !important;
  color: var(--palette-base-neutral-10);
}

.trash-container {
  width: 100%;
  cursor: pointer;
}
