.supplier-approval {
  height: 100%;

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    &__left {
      @extend .supplier-approval__action__right;
      flex-shrink: 0;
    }

    &__search {
      width: 300px;
    }
  }
}

.supplier-approval-advance-filter {
  padding: 16px;
  display: flex;
  gap: 16px;

  .form-item {
    width: calc(50% - 12px);

    &-status {
      flex-shrink: 0;
      padding-right: 8px;
      border-right: 1px solid var(--palette-base-neutral-3);
    }
  }
}
