.payment_schedule_tab {
  height: calc(100vh - 220px);
  overflow-y: auto;
  padding: 0 16px 16px;

  .header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--palette-base-neutral-10);
  }
  .value_calculation {
    margin-top: 12px;
    gap: 16px;

    .title {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: var(--palette-base-neutral-10);
    }
    .select {
      width: 200px;
    }
  }
}
