.container {
  :global(.ant-tabs-nav) {
    padding-bottom: 0 !important;
  }
  :global(.ant-collapse-content-box) {
    padding-top: 4px !important;
  }
}

.scroll {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
  margin-bottom: -20px;
}
