.ct_drawer_wrapper {
  width: 1100px !important;

  .drawer__header {
    position: sticky;
    top: 0;
    background-color: var(--ck-color-base-background);
    z-index: 1000;
  }

  .drawer_footer {
    width: 1100px !important;
  }

  .text__red {
    color: var(--palette-base-red-6) !important;
  }

  .font-size-14 {
    font-size: 14px;
  }

  .collapse__header-title {
    font-weight: 700;
    font-size: 18px !important;
    line-height: 24px;
  }

  .general_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .appendix_term_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > button {
      align-self: flex-start;
    }
  }

  .action-icon {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
