.review-summary {
  padding-bottom: 0;

  .ant-collapse:first-child {
    min-height: calc(100vh - 580px);
  }

  .view-technical {
    .ant-collapse-header {
      padding: 0 0 12px !important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
  .pl-scroll {
    padding-bottom: 0;
  }
}
