.wrapper_adjust {
  margin-top: 12px;

  .budget-plan__header__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
  }

  .budget-plan__table {
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid var(--palette-base-neutral-3);

    .table__header__item_first {
      flex: 1.6;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-10);
      padding-right: 40px;
      height: 32px;
    }

    .table__header__item {
      flex: 1;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-10);
      text-align: right;
    }

    .table__header__item_last {
      width: 200px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-10);
      text-align: right;
    }

    .table__header {
      background: var(--palette-base-neutral-3);
      height: 44px;
      display: flex;
      align-items: center;
      padding: 8px;
    }

    .table__content {
      .text__red {
        color: var(--palette-base-red-6) !important;
      }

      .text__blue {
        color: var(--palette-base-green-6) !important;
      }

      .w_24 {
        width: 24px;
      }

      .font_400 {
        font-weight: 400 !important;
      }

      .table__content__total {
        height: 44px;
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid var(--palette-base-neutral-3);
      }

      .table__content__item {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid var(--palette-base-neutral-3);

        &:last-child {
          border-bottom: none;
        }

        .table__content__item__first {
          flex: 1;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: var(--palette-base-neutral-10);
          display: flex;
          align-items: center;
          gap: 8px;
          padding-right: 40px;
          cursor: pointer;
          word-break: break-word;

          .flex-1 {
            flex: 1;
          }
        }

        .table__content__item__last {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: var(--palette-base-neutral-10);
          text-align: right;
          width: 200px;
        }
      }

      .table__content__item_sub {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid var(--palette-base-neutral-3);
        min-height: 44px;

        &:last-child {
          border-bottom: none;
        }

        .table__content__item__first {
          flex: 1;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: var(--palette-base-neutral-10);
          display: flex;
          align-items: center;
          gap: 8px;
          padding-right: 40px;
          cursor: pointer;
          word-break: break-word;

          .flex-1 {
            flex: 1;
          }
        }

        .table__content__item__last {
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: var(--palette-base-neutral-10);
          text-align: right;
          width: 200px;
        }
      }
    }
  }
}

.text-currency-unit {
  font-size: 10px;
  color: var(--palette-base-neutral-8);
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}
