.asset-info-container {
  margin-bottom: 6px;
  .asset-info-row {
    .ant-col {
      border: 1px solid var(--palette-base-neutral-3);
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-radius: 4px;
    }

    .asset-box {
      border-bottom: 1px solid var(--palette-base-neutral-3);
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        color: var(--palette-base-neutral-8);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
      .value {
        text-align: right;
      }

      &:last-child {
        border-bottom: none;
        background-color: var(--palette-base-neutral-2);

        .title {
          color: var(--palette-base-neutral-10);
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .currency-item {
    .value-1 {
      color: var(--palette-base-neutral-10);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }

    span {
      color: var(--palette-base-neutral-7);
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      margin-left: 4px;
    }
  }
}
