.receiving-goods {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .unit--hidden {
    .text-unit {
      opacity: 0;
    }
  }

  .text-blue {
    color: var(--palette-base-blue-5);
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
  }

  .font-bold {
    font-weight: 600;
    color: #c03629;
  }
  .font-bold__child {
    font-weight: 600;
  }
  .total_code {
    color: #5e6c84;
    font-size: 14px;
  }
  .total-row {
    background-color: var(--palette-base-neutral-2);
    td {
      background-color: var(--palette-base-neutral-2);
    }
  }

  .checked-editable-row {
    position: relative;
    z-index: 2;
    margin-left: -1px;
  }
  .view-row {
    padding-left: 32px;
    width: 100%;
  }
  .total-ml {
    margin-left: 32px;
  }
}
