//External style files
@import "~bootstrap/scss/bootstrap";
@import "~react-components-design-system/dist/react-components-design-system.min.css";
// @import "~antd/dist/antd.min.css";
// Internal style files
@import "./font";
@import "./design-system/design-system";
@import "./custom-antd";

@mixin box-shadow--popover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
}

:root {
  --height-page-title: 84px;
  --header-header: 48px;
}

// body
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  font-size: var(--text-base-size);
  background-color: #f4f4f4 !important;
}

.page-content {
  // overflow-y: auto;
  padding-top: 80px;
  border-radius: 16px;
  position: relative;

  .page {
    &.page-master {
      height: 100%;
      background-color: var(--color-white);
      padding: 16px;
      border-radius: 16px;
      padding-top: 0px;
      position: relative;

      .page-master__pagination {
        width: 100%;
        background-color: white;
      }

      .page-master__info {
        padding: 16px 16px 24px 16px;

        .page-master__title {
          font-size: 20px;
          line-height: 24px;
        }

        .page-master__des {
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.16px;
          color: var(--palette-gray-70);
        }
      }

      .page-master__view {
        .filter-title {
          white-space: nowrap;
        }
      }

      .page-master__all-actions {
        position: relative;

        .btn-filter {
          position: relative;

          &.btn--shadow {
            background-color: #f4f4f4 !important;
            @include box-shadow--popover();

            &:focus {
              outline: none;
            }
          }
        }

        .component__input-search__icon-box {
          margin: 3px 12px 0 12px;
        }
      }

      .page-master__content-table {
        margin-top: 8px;

        .page-master__table {
          position: relative;

          .page-table {
            overflow: auto;
          }
        }
      }

      .page-master__filter-action-search {
        // width: 100%;
        .component__input-search-container {
          width: 100%;
        }
      }
    }

    &.page-detail {
      height: 100%;
      background-color: var(--color-white);
      overflow: auto;

      .page-detail__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: var(--palette-gray-100);
        border-bottom: 1px solid #e0e0e0;
        padding: 16px 0px;
      }

      .page-detail__sub-title {
        padding-top: 16px;
        padding-bottom: 24px;

        .sub-title__label {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: var(--palette-gray-100);
        }

        .sub-title__description {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: var(--palette-gray-70);
        }
      }

      .form-item__container {
        .bg-white {
          background-color: var(--color-white);
        }
      }
    }
  }

  .button-action-table {
    &:hover {
      cursor: pointer;
    }
  }
}

.app-footer {
  position: fixed;
  height: 40px;
  z-index: 2;
  background-color: var(--color-footer);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2),
    0px 2px 10px rgba(0, 0, 0, 0.1);
  bottom: 0;
  right: 0;
  left: 0;
}

.warning-password-rule {
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--palette-gray-70);
  }
}

.text-red {
  color: var(--palette-base-red-6);
}

.text-table-content-primary {
  color: var(--color-primary-real);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.custom-tree {
  .tree-container .ant-tree-list .ant-tree-node-content-wrapper {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.w-300px {
  width: 300px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.row-height-64px {
  .ant-table-row:has(.form-item__message) {
    height: 64px;

    .layout-cell {
      height: 56px;
      align-items: baseline;
    }

    .data-column {
      height: 56px;
      display: flex;
      align-items: center;
    }

    .action-column {
      height: 56px;
      align-items: center;
    }
  }
}

.text-second__style {
  color: var(--color-text-label) !important;
}

.text-break-line {
  white-space: pre-line;
}

.break-all {
  word-break: break-all;
}

@for $i from 1 through 3 {
  .line-clamp-#{$i} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
  }
}

.gap-12 {
  gap: 12px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
  align-self: center;
}

.align-baseline {
  align-items: baseline;
}

.mt-12px {
  margin-top: 12px;
}

.mb-12px {
  margin-bottom: 12px;
}

.text-danger,
.view-danger {
  color: var(--color-critical) !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate 1s linear infinite;
}

.line-height-22 {
  line-height: 22px;
}

.font-size-12 {
  font-size: 12px;
}

.hyperlink {
  color: var(--palette-base-blue-5) !important;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

// Font weight
.font-bold {
  font-weight: 600;
}

.text-neutral-7 {
  color: var(--palette-base-neutral-7);
}

.action-row {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 44px;
  }
}

.error {
  color: var(--color-critical);
  line-height: 16px;
  font-size: 12px;
  margin-left: 4px;
  margin-top: 4px;
}

.required {
  font-size: 14px;
  font-weight: 400;
  color: red;
}

.dropdown__content__create {
  padding: 8px;
  border: 1px solid var(--palette-base-neutral-3);
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px #00000040;
  background-color: white;

  .dropdown-item {
    padding: 8px;
    color: var(--palette-base-neutral-10);
    font-weight: 400;
    font-size: 14px;
    border-radius: 6px;

    &:hover {
      background-color: var(--palette-base-neutral-3);
      cursor: pointer;
    }
  }
}

.table {
  &__cell-blue {
    color: var(--palette-base-blue-5) !important;
  }

  &__cell_text_below {
    font-size: 12px;
    color: var(--palette-base-neutral-7) !important;
  }

  &__width-8 {
    width: 2px;
  }
}

// chỗ này của payment anh em dùng chung nhiều nên paste vào đây
.payment {
  &-title_collage {
    .ant-collapse-header {
      padding: 12px 0 !important;
    }

    .collage_custom.collage_custom_border {
      .ant-collapse-item {
        .ant-collapse-header {
          border-top: 1px solid var(--palette-base-neutral-3) !important;
        }
      }
    }

    .collage_custom.collage_custom_border.collage_custom_border_accounting {
      .ant-collapse-item:first-child {
        .ant-collapse-header {
          border-top: none !important;
        }
      }
    }

    .ant-collapse-content-box {
      padding: 0 !important;
    }

    .ant-collapse-item {
      margin-bottom: 24px !important;
    }
  }

  &-border_title_collage > .ant-collapse-header {
    border-bottom: 1px solid var(--palette-base-neutral-3) !important;
  }

  &-custom_input--disabled {
    .input-text--readOnly {
      background-color: #fff !important;
    }
  }

  &-w-152 {
    width: 152px;
  }

  &-gap-16 {
    gap: 16px;
  }

  &-custom_table {
    th {
      vertical-align: baseline !important;
    }
  }

  &-top {
    top: calc(0.75 * var(--space-unit) * -1);
  }

  &-bg_color {
    background-color: var(--palette-base-neutral-2);
  }

  &-tag_bg {
    background-color: var(--palette-base-neutral-2);
    border-radius: calc(0.25 * var(--space-unit));
    padding: 2px 4px;
  }

  &-label {
    color: var(--color-text-label) !important;
    font-size: 12px;
  }

  &-color_text_label {
    color: var(--color-text-label) !important;
  }

  &-label_font_10 {
    font-size: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 11.5px;
  }

  &-custom_form {
    color: var(--color-text) !important;
  }

  &-custom_grid {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);

    &-col_10 {
      grid-column: span 10;
    }

    &-col_4 {
      grid-column: span 4;
    }
  }

  &-custom_grid_9 {
    grid-gap: 12px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    &-col_2 {
      grid-column: span 2;
    }

    &-col_3 {
      grid-column: span 3;
    }

    &-col_4 {
      grid-column: span 4;
    }

    &-col_6 {
      grid-column: span 6;
    }

    &-col_9 {
      grid-column: span 9;
    }
  }

  &-custom_grid_12 {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    &-col_3 {
      grid-column: span 3;
    }

    &-col_6 {
      grid-column: span 6;
    }

    &-col_5 {
      grid-column: span 5;
    }

    &-col_4 {
      grid-column: span 4;
    }

    &-col_9 {
      grid-column: span 9;
    }

    &-col_12 {
      grid-column: span 12;
    }

    &-align-end {
      align-items: end;
    }
  }

  &-flex_basis {
    flex-basis: 400px;
  }

  &-custom_datepicker {
    .date-picker__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }

    .date-range__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }
  }

  &-custom_input {
    .input-number__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }
  }

  &-custom_textArea {
    textarea {
      resize: none !important;
      height: 42px !important;
    }

    .text-area__label {
      label {
        color: var(--color-text-label) !important;
        //line-height: 20px;
      }
    }
  }

  &-gap-12 {
    gap: 12px;
  }

  &-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
  }

  .p-y--xs {
    --space-xs: 8px !important;
  }

  &-font-14 {
    font-size: 14px;
  }

  &-second-line {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: var(--palette-base-neutral-8);
  }

  &-cell_blue {
    color: var(--palette-base-blue-5) !important;
  }

  &-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 8px;
  }

  &-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 8px;
  }

  &-relative {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }

  &-colorTextLabel {
    color: var(--color-text-label) !important;
  }

  &-row {
    vertical-align: top;
  }

  &-red {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--palette-base-red-6) !important;
  }

  &-trash_icon {
    color: var(--palette-base-red-6);
  }

  &-w-30 {
    width: 30px;
  }

  &-custom_dash {
    border: 1px dashed #d9dadb;
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-base-neutral-1);
    border-radius: 6px;
  }

  &-custom_upload {
    .children-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  &-color_button {
    .btn-component {
      color: var(--palette-brand-6) !important;
      border-color: var(--palette-brand-6) !important;
    }

    .children-content {
      color: var(--palette-brand-6) !important;
    }
  }

  &-custom_absolute {
    left: -214px;
    top: -100px;
    position: absolute;
  }

  &-custom_transform {
    transform: translateX(30px);
  }

  .upload-dropzone {
    height: 170px;
    background-color: var(--palette-base-neutral-1);
  }

  &-min_w_360 {
    min-width: 360px;
  }

  &-right_0 {
    right: 0;
    top: -4px;
  }

  &-minHeight {
    min-height: 200px;
  }

  &-custom_button_download {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, 45%);
  }

  &-height_40 {
    height: 40px;
  }

  &-text_normal {
    color: var(--palette-base-neutral-10);
  }

  &-modal_height {
    height: 688px !important;
    overflow: hidden !important;
  }

  &-label_none {
    label {
      display: none;
    }
  }

  &-gap_x_1 {
    gap: 0 4px;
  }

  &-gap_x_2 {
    gap: 0 8px;
  }

  &-flex_space_between {
    display: flex;
    justify-content: space-between;
  }

  &-align_items_end {
    align-items: end;
  }

  &-custom_row_table {
    .input-text__wrapper,
    .message-validation span {
      min-height: 16px !important;
      height: auto !important;
    }

    .input-number__wrapper {
      min-height: 16px !important;
      height: auto !important;
    }

    td {
      vertical-align: top;
    }
  }

  &_bank_transfer_modal {
    margin: 40px 0;
  }

  &-size-24 {
    font-size: 24px;
  }

  &-supplier-read-only {
    .form-item__container {
      .form-item__content {
        .input-text__wrapper {
          .component__input {
            border-color: var(--palette-base-neutral-4) !important;
          }
        }
      }
    }
  }

  &-error--icon {
    .upload-link {
      img {
        filter: brightness(0) saturate(100%) invert(26%) sepia(48%)
          saturate(1643%) hue-rotate(328deg) brightness(118%) contrast(111%) !important;
      }
    }
  }
}

.disable_button_icon {
  .button-content {
    img {
      filter: brightness(0) saturate(100%) invert(64%) sepia(9%) saturate(427%)
        hue-rotate(171deg) brightness(93%) contrast(84%) !important;
    }
  }
}

.payment-wrap-modal {
  z-index: 99999 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-180 {
  transform: rotate(3.142rad);
}

.rotate-0 {
  transform: rotate(0);
}

.page-pdf__container {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  display: flex;
}

.PurchaseInformationData {
  &-body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    .purchase_proposal_data_wrapper {
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid var(--palette-base-neutral-3);

      .item_row {
        border-bottom: 1px solid var(--palette-base-neutral-3);

        &:last-child {
          border-bottom: none;
        }
        .item_col {
          padding: 16px;
          border-right: 1px solid var(--palette-base-neutral-3);
          display: flex;
          flex-direction: column;

          &:last-child {
            border-right: none;
          }
          .label {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: var(--palette-base-neutral-7);
          }
          .value {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: var(--palette-base-neutral-10);
          }

          .text_blue {
            color: var(--palette-base-blue-5);
          }
        }
        .item_col--stacked {
          display: flex;
          flex-direction: column;
        }
      }
      .bg_grey {
        background: var(--palette-base-neutral-2);
      }
    }
  }
}

.empty_data_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: var(--palette-base-neutral-1);
  border: 1px dashed #d9dadb;
  border-radius: 6px;

  .body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-6);
      white-space: pre-line;
    }

    .btn-opinion.disabled {
      cursor: not-allowed;
    }
  }
}
.delete-row-btn {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background-color: transparent;

  svg {
    width: 24px;
    height: 24px;
  }
}

.technical-profile-table {
  .primary-text {
    font-weight: 600;
    color: var(--palette-base-blue-5) !important;
    cursor: pointer;
  }

  .hyperlink {
    color: var(--palette-base-blue-5) !important;
  }

  .btn-attachment {
    .button-content {
      justify-content: "flex-end";
    }
  }

  .file-in-table {
    .file-loaded-container {
      height: 32px;
    }
  }

  .center_table_item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .technical-profile {
    &-custom_grid_12 {
      grid-gap: 16px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
      }

      &-col_3 {
        grid-column: span 3;
      }
      &-col_6 {
        grid-column: span 6;
      }
      &-col_5 {
        grid-column: span 5;
      }
      &-col_4 {
        grid-column: span 4;
      }
      &-col_9 {
        grid-column: span 9;
      }
      &-col_12 {
        grid-column: span 12;
      }
      &-align-end {
        align-items: end;
      }

      &-gap_x_1 {
        gap: 0 4px;
      }
    }
  }

  .ant-table-tbody {
    vertical-align: baseline;
    overflow-y: auto !important;
  }

  .paper-clip {
    position: relative;
    top: 4px;
  }
}

.form-item__container--error {
  .form-item__content {
    > div {
      border-color: var(--palette-base-red-6) !important;
    }
  }
}

.text-table-link {
  color: #077eda;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
}

.scroll-page {
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}
