.purchasing-plan-supplier__content-email-wrapper {
  width: 100%;

  .body-content-email_wrapper {
    border: 1px solid var(--palette-base-neutral-3);
    border-radius: 4px;
    .ck.ck-editor__main > .ck-editor__editable {
      border-left: 1px solid var(--palette-base-neutral-3);
      border-right: 1px solid var(--palette-base-neutral-3);
      background: #fff;
      min-height: 98px;
      max-height: 460px;
    }

    .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
      border-left: 1px solid var(--palette-base-neutral-3);
      border-right: 1px solid var(--palette-base-neutral-3);
    }
  }
  .form-edit_wrapper-detail {
    img {
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
    }
  }
}

.ck-balloon-panel.ck-balloon-panel_visible {
  z-index: 9999;
}
