.empty-state__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  padding: 16px;
  background-color: #fafbfc;
  border: 1px dashed #d9dadb;

  .empty-icon {
    width: 40px;
    height: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .upload-button {
      background-color: #ffffff;
      border: 1px #d9dadb solid;
      border-radius: 4px;
      height: 32px;
      width: 94px;
      padding: 6px 12px;
    }
  }

  .message {
    color: #8c9093;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
  }
}

.file-attachment__wrapper {
  display: flex;
  flex-direction: column;

  .mb-12px {
    margin-bottom: 12px;
  }
}

.file-attachment__wrapper :global(.ant-table-selection-column) {
  padding-top: 10px !important;
}

.table-title__require {
  display: flex;
  flex-direction: row;
  gap: 2px;
  color: #0c2042;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  .require-text {
    color: #ff4d4f;
    font-weight: 700;
  }
}

.attachment-files__wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px 8px;
  padding: 6px 8px;
  flex-wrap: wrap;
  max-width: 572px;
  width: 572px;
  min-height: 32px;

  .file-items {
    max-width: 180px;
    width: 180px;

    :global(.file-loaded-container) {
      height: 34px;
    }
  }
}

.add-modal__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    .control {
      display: flex;
      flex: 1;

      .upload-file {
        min-height: 132px;
        width: 100%;
      }
    }

    .files-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px 16px;
      flex: 1;
      height: min-content;

      .file-loaded-item {
        width: calc((100% / 2) - 8px); // 50% - gap items is 8px
      }

      :global(.file-loaded-container) {
        margin-bottom: 0px;
        height: 44px;
      }
    }
  }
}

.table-row {
  vertical-align: top;
}

.page-table .ant-table-selection-column {
  padding-top: 10px !important;
}
