.select_supplier {
  :global(.ant-collapse-content-box) {
    padding-top: 0 !important;
  }
}

.content-container {
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;

  .item-component {
    margin: 24px 16px;

    .title-header {
      color: var(--palette-base-neutral-10);
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
}

#table-purchasing-plan-bidding {
  :global(.text-in-table-cell) {
    margin: 12px 0;
    white-space: pre-wrap;
  }

  td {
    vertical-align: text-top;
  }
}
