.collapse-container {
  :global(.ant-collapse-item) {
    background-color: white !important;
    border-radius: 8px !important;
    box-shadow: unset !important;
    overflow: hidden;

    :global(.ant-collapse-header) {
      align-items: center;
      border-top: 0;

      :global(.ant-collapse-expand-icon) {
        padding-right: 8px;
      }
    }

    & + :global(.ant-collapse-item) {
      margin-top: 16px;
    }
  }

  &--border {
    border-radius: 0;
    background-color: var(--palette-base-neutral-1);
    padding: 16px;

    :global(.ant-collapse-item) {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2),
        0px 2px 10px rgba(0, 0, 0, 0.1) !important;

      .collapse-container--full {
        background-color: white;

        :global(> .ant-collapse-item) {
          box-shadow: unset !important;
        }
      }
    }
  }

  :global(.ant-collapse-header-text) {
    color: var(--palette-base-neutral-10);
    font-weight: 700;
    font-size: 18px;
  }

  :global(.ant-collapse-content) {
    color: var(--palette-base-neutral-10);
  }

  .collapse-icon {
    width: 24px;
    height: 24px;
    background-color: var(--palette-base-neutral-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &--expend {
      rotate: 180deg;
    }
  }

  .item-right-title {
    margin-left: 8px;
    font-size: 14px;
    color: #5e6c84;
    font-weight: normal;
  }
}
