.cost-allocation__wrapper {
  height: calc(100vh - 220px);

  overflow-y: auto;

  .amount-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--palette-base-neutral-10);
    // margin-left: 8px;
    text-align: right;
  }
}
