.information-settlement__container {
  display: flex;
  .single-line-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  .information-asset__left,
  .information-asset__right {
    width: 50%;
  }

  .information-asset__left {
    border-right: 1px solid var(--palette-base-neutral-3);
  }
  .information-asset__right {
    padding-left: 24px;
  }
}
