.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--palette-base-neutral-1);
  border-radius: 6px;
  gap: 24px;
  padding: 24px;
  border: 1px dashed #d9dadb;
  width: 100%;

  .empty-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--palette-base-neutral-6);
    white-space: pre-line;
  }
}
