.asset-table_container {
  .icon-row__settlement {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 44px;
  }
  .table-btn {
    border: none;
    background: transparent;
    .text-table-primary {
      color: #077eda;
    }
  }
  .box-goods {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .color-grey {
      color: #5e6c84;
    }
  }
}
