.goods-services-detail {
  .page-detail {
    margin-top: 20px;
    overflow: auto;
    height: calc(100vh - 180px) !important;

    .title-detail {
      font-size: 16px;
      color: var(--color-text);
      margin-left: 24px;
      font-weight: 600;
    }
  }

  .ant-tabs-ink-bar {
    background-color: unset !important;
  }
}
