.table_goods_services-view {
  table {
    border-collapse: unset !important;
  }

  td.ant-table-cell:has(.data-with-collapse) {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }

  th.ant-table-cell.ant-table-cell-ellipsis,
  th.ant-table-cell.ant-table-selection-column {
    vertical-align: baseline;
  }
}
