.project-settlement-filter-panel {
  width: 1000px;
  max-width: 1000px;
}

.project-settlement-filter__dash {
  display: flex;
  width: 32px;
  height: 80%;
  padding-top: 8px;
  align-items: center;
  justify-content: center;
  color: #42526e;
}
