@import "../../../../../assets/scss/mixin/table_view";

:global(.drawer__container.slide-out.drawer-2xl).order-information-drawer {
  font-size: 14px;
  width: 1100px;

  :global(.drawer_footer) {
    width: 1100px;
  }

  .table {
    @include table-view;

    tr th {
      vertical-align: top;
    }
  }

  .table__blue {
    @include table_view(var(--palette-base-blue-6));
    margin-top: 16px;

    tr th {
      background-color: var(--palette-base-blue-1);
    }
  }

  .form-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .form-item__width {
      width: 32.5%;
      margin-bottom: 8px;
    }
    .form-item__width-full {
      width: 66%;
    }
    .form-item__width-small {
      width: 15.8%;
    }
  }
}

.order-information-drawer {
  &__title {
    color: var(--palette-base-neutral-10);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .table-container {
    overflow-x: auto;

    .table-scroll {
      width: 1374px;
    }
  }

  .text-variance {
    color: var(--palette-base-green-6);

    &--incomplete {
      color: #da3e33;
    }
  }
}

.asset-drawer__view {
  margin: -28px -16px;
  background: #fafbfc;
  height: calc(100vh - 117px);
  .asset-drawer__main {
    padding: 20px 6px;
  }
}
