.contract-information {
  .text-code {
    color: #077eda;
    font-size: 14px;
    font-weight: 500;
  }
  .text-value {
    font-size: 14px;
    font-weight: 500;
    color: #0c2042;
  }

  .truncate-25 {
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
