.goods_services_currency_wrapper {
  margin: 16px;

  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--palette-base-neutral-3);

  .item_row {
    border-bottom: 1px solid var(--palette-base-neutral-3);

    &:last-child {
      border-bottom: none;
    }
    .item_col {
      padding: 16px;
      border-right: 1px solid var(--palette-base-neutral-3);
      display: flex;
      flex-direction: column;

      &:last-child {
        border-right: none;
      }
      .label {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: var(--palette-base-neutral-7);
      }
      .value {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: var(--palette-base-neutral-10);
      }
    }
  }
}
