.payment__action-row__button {
  border: none;
  background-color: white;
  padding: 0;
}

.payment {
  &-tab__master {
    .ant-tabs-nav {
      border-bottom: none;
      padding-left: 20px;
      padding-right: 20px;
      &::before {
        border-bottom: none;
      }
    }
    .ant-tabs-tab {
      padding: 6px 8px !important;
      border-radius: 32px !important;
      color: var(--color-text);
      font-weight: 500 !important;
      height: 32px !important;
      background-color: var(--color-bg-button-disable) !important;
      &:hover {
        color: var(--color-text) !important;
      }
      &:focus {
        color: var(--color-text) !important;
      }
      &:focus-visible {
        color: var(--color-text) !important;
      }
      div {
        &:hover {
          color: var(--color-text) !important;
        }
        &:focus {
          color: var(--color-text) !important;
        }
        &:focus-visible {
          color: var(--color-text) !important;
        }
      }
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background-color: var(--palette-brand-2) !important;
      div {
        color: var(--color-text) !important;
      }
    }

    .ant-tabs-extra-content {
      width: 100%;

      .page-master__all-actions {
        width: 100%;
      }
    }
  }
  &-tab_custom {
    gap: 12px;
  }
}
