.btn-box {
  margin-top: auto;
  display: flex;
  gap: 16px;
}

.evaluation-method {
  display: block;
  margin-top: 8px;

  .label {
    color: #5e6c84;
  }

  .value {
    color: #000;
    font-weight: bold;
  }

  .ic {
    font-size: 21px;
    color: #dfe1e6;
  }

  .red {
    color: #da3e33;
  }
}

.title {
  margin-bottom: 4px;
  display: flex;
  align-items: flex-end;

  &-score {
    width: 100%;
  }

  .score-rate {
    position: relative;
    top: -6px;
    max-width: 120px;

    .point-rate {
      margin-left: 8px;
      position: relative;
      top: -2px;
    }

    .input-number {
      width: 120px;
    }
  }
}
