.page-opinion-collector-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .opinion-list-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
    gap: 12px;

    &__search {
      width: 300px;
    }
  }
}

.opinion-list-filter {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;

  &-form {
    max-width: calc(50% - 16px);
  }
}
