.budget-settlement__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: var(--palette-base-neutral-1);

  .body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    max-width: 275px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-6);
    }

    b {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: var(--palette-base-neutral-6);
    }
  }
}
