.form-section {
  width: calc(100vw - 32px);
  height: calc(100vh - 172px);

  overflow-y: auto;
  padding: 16px;
  padding-top: 24px;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--palette-base-neutral-10);
  line-height: 24px;
  padding-left: 8px;
}

.form-body {
  margin-top: 12px;
}

.form-section__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 16px;
  gap: 16px;

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .form-section__row_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    .flex-1 {
      flex: 1;
    }
  }
}

.budget-plan__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .form-subtitle {
    font-size: 14px;
    font-weight: 500;
    color: var(--palette-base-neutral-6);
    line-height: 20px;
  }
}

.budget-plan__body__settlement {
  width: 100%;
  border-radius: 6px;
  padding-top: 12px;

  .budget-plan__body__content {
    .content {
      font-size: 14px;
      font-weight: 400;
      color: var(--palette-base-neutral-6);
      line-height: 20px;
    }

    .content__import {
      font-weight: 700;
    }

    .budget-plan__body__content__button {
      display: flex;
      gap: 8px;
      margin-top: 12px;
    }
  }
}

.budget-plan {
  margin-top: 24px;
}

.budget-plan__attached {
  margin: 2px;
  margin-top: 12px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: self-start;

  .budget-upload-file {
    flex: 1;
    border-radius: 6px;
  }

  .flex-file-loaded {
    flex: 1;
    display: flex;
    gap: 16px;

    .file-loaded-item {
      width: calc(50% - 8px);
      height: 44px;
      margin-bottom: -8px;
    }
  }
}

.custom-table-settlement .ant-table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--palette-base-neutral-3);
}

.custom-table-settlement .ant-table-container {
  border-radius: 10px;
}

.custom-table-settlement .ant-table-content {
  border-radius: 10px;
}

.unit-text {
  font-size: 14px;
  color: var(--palette-base-neutral-6);
}

.add-button__container {
  display: flex;
  margin-bottom: 8px;
}
