.supplier-drawer__next-round-bid {
  .drawer__header {
    position: sticky;
    top: 0;
    background-color: var(--ck-color-base-background);
    z-index: 1000;
  }
  .collapse__container {
    margin-top: 4px !important;
  }

  .ant-collapse-header {
    padding-bottom: 0 !important;
  }

  .collapse__header-title {
    font-size: 16px !important;
  }

  .drawer-border-top {
    padding-top: 24px;
    border-bottom: 1px solid var(--palette-base-neutral-3);
  }
}
