.goods-service {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .unit--hidden {
    .text-unit {
      opacity: 0;
    }
  }

  .font-bold {
    font-weight: 600;
  }

  .text-blue {
    color: var(--palette-base-blue-5);
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
  }

  .text-gray {
    color: #5e6c84;
    font-size: 14px;
  }

  .bg-gray {
    td {
      background-color: var(--palette-base-neutral-2);
    }
  }

  .padding-row {
    padding-left: 44px;
  }

  .collapse-icon {
    width: 52px;
  }

  .text-variance {
    color: var(--palette-base-green-6);

    &--incomplete {
      color: #da3e33;
    }
  }
}
