.proposal_cost_allocation {
  padding: 0 16px 16px;
  .title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--palette-base-neutral-10);
  }
  .body {
    margin-top: 16px;
  }
}
