.card-generation-competitive-offer {
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 32px);
  background-color: white !important;
  margin: 16px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
  overflow: hidden;

  :global(.ant-card-body) {
    padding: 0;
    background-color: white !important;

    .ticket {
      border-radius: 0;
    }
  }
}

.ticket-item-label {
  font-weight: 600 !important;
  margin: 16px;
}

.ticket-item-description {
  font-size: 18px !important;
}

.link {
  color: #077eda !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-decoration: none !important;
  word-break: break-all !important;
}

.general-information {
  height: 308px;
  overflow: auto;

  .block-container {
    padding: 16px;

    .title {
      color: var(--palette-base-neutral-10);
      font-weight: 700;
      font-size: 18px;
    }

    & + .block-container {
      margin-top: 48px;
    }
  }

  .item-content {
    width: 200px;
    &__label {
      color: var(--palette-base-neutral-7);
      margin-right: 24px;
      flex-shrink: 0;
    }

    &__content {
      font-weight: 500;
      white-space: pre-line;
    }
  }

  .button {
    color: var(--palette-base-blue-5);
    font-weight: 600;
    border: none;
    background-color: transparent;
  }
}

.content__ticket {
  display: block;
  margin-bottom: 16px;
}

.ticket {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--palette-base-blue-1);
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  color: var(--palette-base-neutral-10);

  .code {
    color: var(--palette-base-blue-5);
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline dotted 2px;
    text-underline-offset: 4px;
    word-break: break-all;
  }

  .description {
    margin-left: 8px;
    font-weight: 700;
    font-size: 20px;
  }

  .note {
    font-weight: 500;
    display: flex;
    gap: 20px;
  }

  .link {
    color: var(--palette-base-blue-5);
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-underline-offset: none;
    word-break: break-all;
  }

  &-item {
    &-label {
      font-weight: 500;
      text-decoration: none;
      align-self: center;
    }

    &-content {
      font-weight: 700;
      text-decoration: none;
      align-self: center;
      font-size: 18px;
    }

    &-content-summary {
      font-weight: 700;
      font-size: 18px;
      align-self: center;
    }
  }
}

.col-block {
  &-label {
    color: var(--palette-base-neutral-7);
    margin-right: 24px;
    flex-shrink: 0;
  }

  &-content {
    max-width: 190px;
    width: 100%;
    font-weight: 500;
    white-space: pre-line;
  }
}

.block {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;

  &-label {
    width: 200px;
    color: #5e6c84 !important;
    font-weight: 400;
  }

  &-content {
    width: 443px;
    font-weight: 500;
    white-space: pre-line;
  }

  &-container {
    .title {
      margin-bottom: 16px;
    }
  }
}

.ticket-item-title {
  font-size: 18px !important;
}
