.purchase_plan-filter {
  .filter-panel-container {
    padding-bottom: 12px;
    padding-top: 16px;
    background: #ffffff;
    max-width: 1000px;
    margin-top: 4px;
    box-shadow: 0px 2px 10px 0px #00000033;
    border-radius: 8px;
    .purchase_plan-advance-filter {
      display: flex;
      justify-content: center;
      align-items: end;
      .form-item {
        display: block;
      }
      &__form-around {
        display: flex;
        align-items: end;
        grid-column: span 2;
        aspect-ratio: auto;
        gap: 2px;
        .form-item__connect {
          padding-left: 3px;
          padding-right: 3px;
          padding-bottom: 10px;
        }
      }
    }
    .form-picker {
      .date-range__container {
        .ant-picker-outlined {
          outline-offset: -1px;
          border-radius: 4px;
        }
      }
    }
  }
}

.purchasing-plan-border {
  border: 1px solid #dfe1e6;
  border-radius: 13px;
  padding: 0 16px;
  &_btn-plan {
    display: flex;
    padding: 16px 0;
    width: 536px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px 13px 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid #dfe1e6;
    &:hover {
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-critical);
    }
    .icon-represent {
      width: 48px;
      padding: 8px;
      box-shadow: 0px 2px 16px 0px #00000014;
    }
    .title-plan {
      padding-left: 16px;
      font-weight: 500;
      font-size: 16px;
      color: var(--color-text);
    }
    .right-icon {
      float: right;
    }
  }
}

.page-master__purchasing-plan {
  &_filter-tag {
    height: 32px !important;
  }
}

.modal-confirm_purchase-plan {
  .ant-modal-content {
    .ant-modal-body {
      .modal_content {
        &__title {
          line-height: 28px !important;
          white-space: pre-line;
        }
        &__description {
          line-height: 20px !important;
          white-space: pre-line;
        }
        .reason-textarea {
          .text-area__container {
            height: 80px;
          }
        }
      }
    }
  }
}
