.feedback_opinion_modal {
  .modal_content {
    .body-modal {
      max-height: calc(100vh - 192px);
      overflow-y: auto;
    }
  }

  .modal__content {
    .modal_content_header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      background-color: var(--palette-base-neutral-2);
      border-radius: 4px;

      .user_info {
        display: flex;
        align-items: center;
        gap: 8px;

        .user_details {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .label_text,
          .user_name {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: var(--color-text);
          }

          .email {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-text-tertiary);
          }
        }

        .user_avatar {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }

      .time_info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-left: 40px;

        .time_item {
          display: flex;
          gap: 4px;

          .time_label {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-text-tertiary);
          }

          .time_value {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-text-tertiary);
          }
        }
      }
    }

    .feedback_upload_file {
      background: var(--palette-base-neutral-1);
    }
  }
}
