@import "../../assets/scss/mixin/table_view";

.item {
  @include table-item;

  &__content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .price-exchange {
    color: var(--palette-base-neutral-7);
    font-size: 10px;
  }

  .unit {
    @extend .price-exchange;
    margin-left: 4px;
    font-weight: 400;
    flex-shrink: 0;
  }
}
