.invoice {
  &-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  &-transition {
    transition: all 0.3s;

    &_expand {
      transform: rotate(180deg);
    }
  }
  &-width_content_empty {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &-width_content_document_empty {
    width: 242px;
    height: 100%;
  }
}
