.contract-information {
  :global(.ant-checkbox-disabled + span) {
    color: var(--palette-base-neutral-6) !important;
  }
  :global(.ant-checkbox-wrapper .ant-checkbox-inner) {
    background-color: var(--palette-base-neutral-6) !important;
  }
  .contract-code {
    input {
      color: #077eda !important;
    }
  }
}
