.supplier-information {
  .supplier-information-drawer {
    max-width: 680px;
    .drawer__header-text {
      .drawer__header-text_title {
        font-size: 18px;
        line-height: 24px;
        color: var(--color-text);
      }
    }
    .ant-collapse-header {
      padding: 16px 0px !important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
    .ant-table-container {
      border-radius: 4px;
    }
    .page-table .ant-table-thead > tr > th {
      padding-left: 16px;
    }
    .supplier-drawer .page-table .ant-table-thead > tr > th {
      padding: 0;
    }
    .layout-cell {
      padding: 16px;
    }
    .page-table .ant-table-body {
      border-radius: 0 0 8px 8px;
      border-bottom: 1px solid var(--palette-base-neutral-3);
    }
  }

  .reusable-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    box-sizing: border-box;
    tr {
      th {
        background-color: var(--palette-base-neutral-2);
        padding: 16px;
        border-collapse: collapse;
        box-sizing: border-box;
        border: 1px solid var(--color-bg-button-disable);
        .reusable-table_label {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          margin: 0px;
          box-sizing: border-box;
          color: var(--palette-base-neutral-7);
        }
        .reusable-table_content {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0px;
          box-sizing: border-box;
          color: var(--color-text);
          cursor: pointer;
          //truncate 2 lines
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      td {
        background-color: var(--color-white);
        padding: 16px;
        border-collapse: collapse;
        box-sizing: border-box;
        border: 1px solid var(--color-bg-button-disable);
        .reusable-table_label {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          margin: 0px;
          box-sizing: border-box;
          color: var(--palette-base-neutral-7);
        }
        .reusable-table_content {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0px;
          box-sizing: border-box;
          color: var(--color-text);
          cursor: pointer;
          //truncate 2 lines
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
