.bid_document_evaluation_drawer {
  background: var(--palette-base-neutral-2);
  .drawer__container.slide-out.drawer-2xl {
    width: 1100px;

    .drawer__header {
      width: 1100px !important;
      position: fixed;
      top: 48;
      z-index: 99999;
    }

    .drawer_footer {
      width: 1100px !important;
      z-index: 99999;
    }
    .drawer__content {
      padding: 0px;
      background: var(--palette-base-neutral-2);
    }
    .drawer__header {
      background: white;
    }
    .drawer__body {
      background: var(--palette-base-neutral-2);
    }
    .content__collapse {
      padding: 0px;
      margin-bottom: 16px;
    }
    .bid_document_evaluation_drawer__content {
      margin-top: -16px;
      background: var(--palette-base-neutral-2);
      .item_content {
        margin-top: 16px;
        .header_criteria {
          display: flex;

          .partition {
            margin: 0 16px;
            background: var(--palette-base-neutral-3);
            width: 1px;
            height: 24px;
          }
        }
      }
      .item {
        display: flex;
        justify-content: space-between;
        padding: 12px 8px;
      }
    }
  }
}
