.evaluation-results-table {
  .ant-table-body {
    overflow: auto !important;
  }
  .footer-table {
    padding: 0;
    .footer-item-table {
      display: flex;
      align-items: center;
      padding: 0 10px;
      .label {
        width: 760px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0;
        line-height: 20px;
        color: var(--color-text);
      }

      .label-score {
        width: 830px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0;
        line-height: 20px;
        color: var(--color-text);
      }

      .edit-content {
        width: 114px;
        padding: 6px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text);
      }

      .edit-note {
        width: 134px;
        margin-left: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text);
      }

      .value-score {
        width: 114px;
        padding: 6px 0;
        margin-left: -2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text);
      }

      .value-note {
        width: 124px;
        margin-left: 16px;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
