.body {
  display: flex;
  flex-direction: column;

  gap: 16px;
  .item_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
  .check_asset {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: none;
    background-color: transparent;
    &:disabled {
      cursor: not-allowed;
      span {
        color: var(--color-text-disable);
        .svg-path {
          fill: var(--color-text-disable);
          stroke: var(--color-text-disable);
        }
      }
    }
    span {
      color: var(--color-primary);
      font-weight: 500;
      .svg-path {
        fill: var(--color-primary);
        stroke: var(--color-primary);
      }
    }
  }
}
