.drawer {
  max-width: 800px;
  :global(.drawer_footer) {
    max-width: 800px;
  }
  :global(.drawer__header) {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
    background: #fff !important;
  }
}

.text_title {
  font-size: 18px;
  font-weight: 700;
}

.label {
  width: 160px;
  font-weight: 400;
  color: #5e6c84;
}

.value {
  font-weight: 500;
}
