.contract-settlement-tab-view {
  background-color: var(--palette-base-neutral-2);
  overflow-y: auto;

  .contract-settlement-tab-view-items {
    padding: 24px 16px;
    background-color: var(--palette-base-neutral-white);
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 12px 0px var(--palette-base-neutral-3);
    box-shadow: 0px 0px 1px 0px var(--palette-base-neutral-5);
  }

  .collapse-container--border {
    background-color: var(--palette-base-neutral-2) !important;
  }

  .text_blue {
    color: var(--palette-base-blue-5);
  }

  .text-red {
    color: var(--palette-base-red-6) !important;
  }

  .text-green {
    color: var(--palette-base-green-6) !important;
  }

  .total-title {
    color: var(--color-text-tertiary);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .custom-table .ant-table-thead > tr > th {
    border: 1px solid #dfe1e6;
    background-color: #f4f5f7 !important;
    font-weight: bold;
    text-align: center;
  }

  .custom-table .ant-table-tbody > tr > td {
    border: none;
  }

  .custom-table .ant-table-container {
    overflow: hidden;
  }

  .custom-table .ant-table-cell-with-append {
    display: flex;
    align-items: center;
  }

  .custom-table .ant-table-tbody > tr > td {
    border-bottom: 1px solid #f0f0f0;
  }
}
