.technical-capability-assessment-table {
  display: flex;
  flex-direction: column;

  .primary-text {
    font-weight: 600;
    color: var(--palette-base-blue-5) !important;
    cursor: pointer;
  }

  .assessment-method-text {
    color: var(--palette-base-neutral-7);

    &-divider {
      width: 1px;
      height: 28px;
      background-color: #dfe1e6;
    }

    &--bold {
      color: var(--palette-base-neutral-10);
      font-weight: 600;
    }
  }

  .scoring-ratio-input {
    width: 123px;
  }

  .delete-row-btn {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
