.drawer_good_service_quotation {
  .container {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;

    .title {
      color: var(--palette-base-neutral-7);
      font-weight: 400;
      max-width: 184px;
      width: 184px;
      padding-right: 0;
    }

    .children {
      color: var(--palette-base-neutral-10);
      font-weight: 500;
    }
  }

  :global(.drawer_footer) {
    z-index: 99;
  }

  .drawer-collapse-view {
    padding: 0;
  }
}

.drawer-convertible-table {
  .delete-row-btn {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
