.upload-file-custom__container {
  margin: 2px;
  display: flex;
  gap: 16px;
  flex: 1;
  border-radius: 6px;

  .upload-dropzone {
    height: 100%;
  }

  .budget-upload-content-file {
    width: 100%;
    height: 100%;

    > div {
      height: 100%;
    }
  }
}
