.modal-authorization {
  &__container {
    display: flex;
    flex-direction: column;
    .input-text__wrapper .input-text__container.input-text--bordered {
      border-radius: 4px !important;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
  }

  &__upload-file {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    &-title {
      color: #5e6c84;
      font-size: 14px;
    }

    &-required {
      color: #ff0000;
    }
  }
  &__form-box {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
}

.modal-authorization__file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-left: 6px;
  max-height: 140px;
  overflow-y: auto;
}

.modal-authorization__upload-file-input {
  &.error .upload-button__container .upload-dropzone {
    border: 1px dashed var(--color-critical) !important;
  }
}

.modal-authorization__file-list-item--view {
  width: 270px;
}
