.action-row-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #b3bac5;
  padding: 6px;
  border-radius: 4px;
  background-color: white;

  .action-row__button {
    border: none;
    background-color: white;
  }

  .cursor-none {
    cursor: not-allowed;
  }
}
