.general-information__wrapper {
  background-color: #f4f5f7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-see-more {
  cursor: pointer;
  color: #077eda;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.collapse-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .size-24 {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
