.cost-allocation-detail {
  .btn-budget {
    border: none !important;
    position: absolute;
    right: 16px;
    top: 155px;
  }
  .cost-allocation-detail-content {
    margin-top: 35px;
  }
}

.data-column-total {
  font-weight: 700;
}

.collapse-table {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 125px;
  right: 16px;
}
