.contract_view_info_tab {
  height: calc(100vh - 220px);
  overflow-y: auto;

  &__comment {
    padding: 0 16px;

    .comment__container .comment__header {
      margin-top: 12px;
    }
  }

  .content-editable__container {
    width: 100%;
  }

  .contract-detail-section {
    padding: 16px;
    border-bottom: 1px solid var(--palette-base-neutral-3);
  }
}
