.content-editable__container {
  width: 100%;
  margin-right: 8px;
  min-height: 48px;
  max-height: 64px;
  overflow-y: scroll;
  padding: 4px 4px 4px 8px;
  border: 1px solid #b3bac5;
  border-radius: 4px;
  transition: 0.5s;

  &--error {
    border-color: var(--color-critical) !important;
    outline-color: var(--color-critical) !important;
  }

  div[contentEditable="true"] {
    outline: none;
    max-width: 100%;
    overflow-y: auto;
    min-height: 48px !important;
    white-space: pre-wrap;
  }

  div[contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-text);
  }

  [contentEditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    /* For Firefox */
    color: gray;
    opacity: 0.9;
  }

  .hightlight__text {
    color: var(--color-text);
    font-weight: bold;

    &::before {
      content: "@";
    }
  }

  .content-editable__comment {
    word-break: break-word;
    flex-grow: 1;
    overflow: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    // display: flex;
    color: var(--color-text);

    img {
      height: 40px;
    }
  }

  .content-editable__suggest-list {
    position: absolute;
    bottom: 150px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #dfe1e6;
    box-shadow: 0px 1px 4px 0px #00000040;
    padding: 8px;
    background-color: #ffffff;
    z-index: 9;
    .list-group {
      max-height: 250px;
      overflow-y: auto;

      .list-group-item {
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-text);
        padding-left: 8px;
        border-radius: 4px;

        &:hover {
          background-color: var(--color-secondary-blur);
        }

        .user-avatar-name {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          width: 24px;
          border-radius: 12px;
          flex-shrink: 0;
          font-size: 10px;
          line-height: 12px;
          color: var(--color-white);
          background-color: var(--color-primary);
          margin-right: 6px;
        }
      }
    }
  }
}

.content-editable__container:focus,
.content-editable__container:focus-within {
  outline: 1.5px solid var(--color-primary);
  box-shadow: 0px 0px 0px 4px var(--color-primary-blur);
}

.show-more-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.show-more-btn img {
  width: 12.5px;
  height: 6.25px;
  transition: transform 0.3s ease;
}

.show-more-btn.expanded img {
  transform: rotate(180deg);
}
.selected-user {
  background-color: #ff7f50;
}
