.document-type__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .document-type__main-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .text-name {
      color: var(--text-color-base-neutral-10);
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 4px;
    }

    .code-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      gap: 4px;
      cursor: pointer;
      padding-right: 8px;
      align-items: flex-start;

      .text-code {
        color: var(--text-color-base-neutral-10);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        overflow-wrap: anywhere;
      }
    }
  }
}
