.commercial-term__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .commercial-term__main-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .text-name {
      color: var(--text-color-base-neutral-10);
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 4px;
    }

    .code-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      gap: 4px;
      cursor: pointer;
      padding-right: 8px;
      align-items: flex-start;

      .text-code {
        color: var(--text-color-base-neutral-10);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        overflow-wrap: anywhere;
      }
    }
  }

  .commercial-term__seconds-section {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .second-section__wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      border: 1px solid #dfe1e6;
      gap: 4px;
      padding: 16px 12px 12px 12px;
      border-radius: 4px;

      .text-label {
        color: #5e6c84;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }

      .text-value {
        color: var(--text-color-base-neutral-10);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
