.modal-select__container {
  .unit-title {
    margin-bottom: 12px;
  }
  .line-one {
    width: 156px;
  }
  .box-two__line {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .line-text__two {
    color: #42526e;
    font-size: 12px;
  }
  .line-text {
    margin-bottom: 14px;
  }
  .ant-radio-wrapper {
    margin-bottom: 6px;
  }
}
