.w-content {
  width: fit-content;
}

.delete-row-btn {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background-color: transparent;

  svg {
    width: 24px;
    height: 24px;
  }
}
