.shopping_plan_table {
  overflow-y: auto;
  border-radius: 4px;
  :global(table) {
    border-collapse: separate !important;
  }

  &__comment {
    padding: 0 12px;
  }

  .text-blue {
    color: #077eda !important;
  }
}
