.information-supplier__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .information-supplier__left,
  .information-supplier__right {
    width: 49%;

    .box-item {
      display: flex;
      margin-bottom: 12px;
      padding: 0 1.5rem;

      .item-title {
        display: flex;
        align-items: start;
        line-height: 20px;
        width: 160px;
        font-size: 14px;
        font-weight: 400;
        color: var(--palette-base-neutral-7);
        margin-right: 24px;
      }

      .item-value {
        display: flex;
        align-items: start;
        line-height: 20px;
        width: 254px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-text);
      }
    }
  }
}
