.label_title {
  font-size: 14px;
  white-space: nowrap;
  color: var(--color-text-label);
  line-height: 20px;
}

.drawer {
  max-width: 800px;
  :global(.drawer_footer) {
    max-width: 800px;
  }

  :global(.drawer__header) {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
    background: #fff !important;
  }
}
