.payment_trackings_tablet {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--palette-base-neutral-3);
  .text-blue {
    color: var(--palette-base-blue-5);
    font-weight: 500;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--palette-base-neutral-10);
    margin-bottom: 16px;
  }
  .ant-table-footer {
    padding: 0 !important;
    border: 1px solid var(--palette-base-neutral-3);
    border-top: none;
  }
  .footer-table {
    padding: 0px;

    &__item {
      height: 44px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      border-top: 1px solid var(--palette-base-neutral-3);
      &:first-child {
        border-top: none;
      }

      .label {
        font-size: 14px;
        color: var(--palette-base-neutral-10);
        width: 532px;
      }
      .requested_amount {
        width: 145px;
        display: flex;
        justify-content: flex-end;
        padding: 0 8px;
      }
      .paid_amount {
        width: 160px;
        display: flex;
        justify-content: flex-end;
        padding: 0 8px;
      }
    }
  }
}
