.custom-table {
  :global(.ant-table-row) {
    vertical-align: top;

    :global(.layout-cell) {
      margin-top: 12px;
      margin-bottom: 12px;
      min-height: auto;
      align-items: flex-start !important;
    }

    :global(.ant-checkbox-wrapper) {
      margin-top: 11px !important;
    }
  }
}

.content-collapse {
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;
}
