@mixin table-view($borderColor: var(--palette-base-neutral-3)) {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  th {
    font-weight: 400;
  }

  tr,
  th,
  td {
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
  }

  tr th:first-child,
  tr td:first-child {
    border-left: 1px solid $borderColor;
  }

  tbody:first-child th {
    border-top: 1px solid $borderColor;
  }

  tr + tr > th {
    border-top: 0 !important;
  }

  tr:first-child {
    th:first-child {
      border-top-left-radius: 4px;
    }

    th:last-child {
      border-top-right-radius: 4px;
    }
  }

  tr:last-child {
    th:first-child {
      border-bottom-left-radius: 4px;
    }

    th:last-child {
      border-bottom-right-radius: 4px;
    }
  }

  .bg-grey {
    background-color: var(--palette-base-neutral-2);
  }
}

@mixin table-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  line-height: 1.5;

  &__label {
    color: var(--palette-base-neutral-7);
    font-size: 12px;
  }

  &__content {
    color: var(--palette-base-neutral-10);
    font-weight: 500;

    &--link {
      color: var(--palette-base-blue-6);
    }
  }
}
