.information-signature {
  position: relative;
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #161616;
  }
  .overlay-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: not-allowed;
  }
}
