.empty_contract_terms {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--palette-base-neutral-3);
  background-color: var(--palette-base-neutral-2);
  span {
    font-size: 14px;
    color: var(--color-text);
    line-height: 20px;
  }
}
