.evaluation-supplier {
  .font-bold__supplier {
    font-weight: 700 !important;
    color: #0c2042;
  }

  .source-point {
    color: #0c2042;
    display: flex;
    font-style: italic;
    margin-bottom: 16px;
  }
  .text-area__wrapper .text-area__container.text-area--white {
    margin: 10px;
    height: 49px;
  }
}
