.result-report {
  padding: 0 16px;
  color: var(--palette-base-neutral-8);
  background-color: var(--palette-base-neutral-1);

  .title {
    font-weight: 700;
    font-size: 18px;
    color: var(--palette-base-neutral-8);
  }

  .table {
    margin-top: 12px;

    :global(th.ant-table-cell) {
      border-color: var(--palette-base-neutral-3) !important;
      background-color: var(--palette-base-neutral-2) !important;
    }

    :global(.ant-table-cell) {
      white-space: nowrap;
    }

    :global(.ant-table-tbody .ant-table-row:nth-child) {
      :global(.ant-table-cell) {
        background-color: var(--palette-base-neutral-2) !important;
        font-weight: 600;
        border-right: unset !important;
      }
    }

    :global(td.ant-table-cell) {
      border-right: unset !important;
    }
  }

  .unit {
    display: block;
    text-align: end;
    margin: 12px 0 8px auto;
    color: var(--palette-base-neutral-8);
  }
}
