.purchase_info_plan_wrapper {
  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    td.ant-table-cell:has(.data-with-collapse) {
      display: flex;
      align-items: center;
    }
    .text_blue {
      color: var(--palette-base-blue-5);
    }
    .total-row {
      background-color: var(--palette-base-neutral-2);
      td {
        background-color: var(--palette-base-neutral-2);
      }
    }
    .detail-row {
      td {
        padding-left: 10px !important;
      }
    }
    .editable-row {
      background-color: var(--palette-base-neutral-3);
      td {
        background-color: var(--palette-base-neutral-3);
      }
    }
  }
}

.error-tab {
  position: relative;
  top: -2px;
}

.red {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--palette-base-red-6) !important;
}

.btn svg {
  width: 24px !important;
  height: 24px !important;
}
