.collapse--title_custom {
  :global(.collapse__header-title) {
    font-size: 16px !important;
  }

  .btn-more {
    color: var(--palette-base-blue-5);
    font-weight: 600;
    font-size: 14px;
  }
}

.contract-termination-view {
  .ant-collapse-item,
  .comment__container {
    border-radius: 4px !important;
  }
}
