.columns-table {
  .text-danger-span {
    position: relative;
    top: 8px;
  }

  .component__title {
    display: block;
  }

  .layout-header__title {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    position: absolute;
    right: 20px;
    top: 15px;
    color: var(--text-base-size);
  }

  &__vnd {
    float: right;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-right: 10px;
    color: rgba(66, 82, 110, 1);
  }
}

.input-right {
  input {
    text-align: right;
  }
}

.component__input {
  border-radius: 4px !important;
}

.cost-allocation-wrapper {
  .cost-allocation-content {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    .btn-budget {
      border: none !important;
    }
  }
  .text-green {
    color: green;
  }

  .text-red {
    color: red;
  }
}
