.contract-settlement-info-tab {
  .text_blue {
    color: var(--palette-base-blue-5);
  }

  .text-red {
    color: var(--palette-base-red-6) !important;
  }

  .text-green {
    color: var(--palette-base-green-6) !important;
  }

  .total-title {
    color: var(--color-text-tertiary);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .custom-table .ant-table-thead > tr > th {
    border: 1px solid #dfe1e6;
    background-color: #f4f5f7 !important;
    font-weight: bold;
    text-align: center;
  }

  .custom-table .ant-table-tbody > tr > td {
    border: none;
  }

  .custom-table .ant-table-container {
    overflow: hidden;
  }

  .custom-table .ant-table-cell-with-append {
    display: flex;
    align-items: center;
  }

  .custom-table .ant-table-tbody > tr > td {
    border-bottom: 1px solid #f0f0f0;
  }
}
