.proposal_basic_info_wrapper {
  padding: 0 16px 16px;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    .item_row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
    }
    .text__red {
      input {
        color: var(--palette-base-red-6) !important;
      }
    }
    .text__green {
      input {
        color: var(--palette-base-green-6) !important;
      }
    }
    .check_asset {
      display: flex;
      flex-direction: row;
      gap: 8px;
      border: none;
      background-color: transparent;
      &:disabled {
        cursor: not-allowed;
        span {
          color: var(--color-text-disable);
          .svg-path {
            fill: var(--color-text-disable);
            stroke: var(--color-text-disable);
          }
        }
      }
      span {
        color: var(--color-primary);
        font-weight: 500;
        .svg-path {
          fill: var(--color-primary);
          stroke: var(--color-primary);
        }
      }
    }
    .proposal_code {
      input {
        color: var(--palette-base-blue-5);
      }
    }
  }
}
