.settlement-file {
  &_ct {
    &-scroll {
      overflow-y: auto;
      max-height: calc(100vh - 240px);
      padding-bottom: 16px;
    }

    &-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    &-grid-12 {
      grid-gap: 12px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    &-col_1 {
      grid-column: span 1;
    }
    &-col_2 {
      grid-column: span 2;
    }
    &-col_3 {
      grid-column: span 3;
    }
    &-col_4 {
      grid-column: span 4;
    }
    &-col_6 {
      grid-column: span 6;
    }
    &-col_8 {
      grid-column: span 8;
    }
    &-col_9 {
      grid-column: span 9;
    }
    &-collapse {
      .ant-collapse-item:nth-child(1) .ant-collapse-header {
        border-top: none !important;
      }

      .ant-collapse-ghost
        > .ant-collapse-item
        > .ant-collapse-content
        > .ant-collapse-content-box {
        padding: 0px 12px 24px 12px;
      }

      .file-loaded-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: 4px;
        border: 1px solid var(--color-bg-button-disable);
        text-align: left;
        background-color: white;
      }
    }
    &-pr-2 {
      padding-right: 8px !important;
    }
    &-pl-2 {
      padding-left: 8px !important;
    }
    &-h-44 {
      height: 44px !important;
    }
    &-w-210 {
      width: 210px;
    }
    &-w-462 {
      width: 462px;
    }
    &-w-210 {
      width: 210px;
    }
  }

  .file-loaded-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 180px;
    height: 32px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid var(--color-bg-button-disable);
    text-align: left;
    background-color: white;
  }

  .ant-collapse-content-active {
    min-height: calc(100vh - 300px);
  }

  .settlement-file-tab-view {
    background-color: var(--palette-base-neutral-2);
    overflow-y: auto;

    .settlement-file-tab-view-items {
      padding: 24px 16px;
      min-height: calc(100vh - 250px);
      background-color: var(--palette-base-neutral-white);
      overflow-y: auto;
      border-radius: 4px;
      box-shadow: 0px 4px 12px 0px var(--palette-base-neutral-3);
      box-shadow: 0px 0px 1px 0px var(--palette-base-neutral-5);
    }
  }
}
