.empty-shipping-information {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 6px;
  background-color: #fafbfc;

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    gap: 12px;
  }
}

.no-shipping-information-text {
  color: #7a869a;
}
