.header-user__menu {
  background-color: var(--palette-base-neutral-white);
  border-radius: 8px;
  width: 240px;
  overflow-x: hidden;
  box-shadow: 0px 1px 4px 0px #00000040;
  padding: 8px;
  color: var(--color-text);

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 8px;
    width: 100%;

    &__image {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--palette-brand-2);
      width: 32px;
      aspect-ratio: 1;
      border-radius: 8px;
      flex-shrink: 0;
    }

    &__content {
      max-width: calc(100% - 68px);
    }

    &__name {
      font-weight: 500;
    }

    &__position {
      color: var(--color-text-label);
      text-align: left;
    }
  }

  &__button {
    height: 44px;
    width: 100%;
    justify-content: start;
    border-radius: 4px;

    span {
      color: var(--color-text);
    }

    &:hover {
      background-color: var(--palette-base-neutral-3) !important;
    }
  }
}
