.payment-detail__title {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.payment-detail__info {
  width: 100%;
  background-color: var(--palette-base-neutral-2);
  padding: 16px;
  border: 1px solid var(--color-bg-button-disable);

  .payment-detail__info_title {
    margin: 0 0 4px 0;
    color: var(--palette-base-neutral-7);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__info_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail__info_double {
  background-color: var(--palette-base-neutral-2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .payment-detail__info_double_left {
    padding: 16px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__info_double_right {
    padding: 16px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__info_title {
    margin: 0 0 4px 0;
    color: var(--color-text-label);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__info_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail__info_not_double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .payment-detail__info_not_double_left {
    background-color: var(--palette-base-neutral-2);
    padding: 16px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__info_not_double_right {
    padding: 16px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__info_title {
    margin: 0 0 4px 0;
    color: var(--color-text-label);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__info_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail_content_full {
  padding: 16px;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-bg-button-disable);

  .payment-detail__content_title {
    margin: 0 0 4px 0;
    color: var(--color-text-label);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__content_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .payment-detail__content_left {
    padding: 16px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__content_right {
    padding: 16px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__content_title {
    margin: 0 0 4px 0;
    color: var(--color-text-label);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__content_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail__content_bank_transfer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .payment-detail__content_bank_transfer_left {
    flex: 1;
    background-color: var(--palette-base-neutral-2);
    padding: 16px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__content_bank_transfer_right {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--palette-base-neutral-2);
    padding: 16px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--color-bg-button-disable);
  }

  .payment-detail__content_title {
    margin: 0 0 4px 0;
    color: var(--color-text-label);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .payment-detail__content_value {
    word-break: break-all;
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.payment-detail__currency {
  color: var(--color-text-label);
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.rotate-180 {
  transform: rotate(3.142rad);
}

.rotate-0 {
  transform: rotate(0);
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-top_left_right {
  border-radius: 4px 4px 0 0;
}

.rounded-bottom_left_right {
  border-radius: 0 0 4px 4px;
}

.rounded-left_bottom {
  border-radius: 4px 0 0 4px;
}

.rounded-right_bottom {
  border-radius: 0 4px 4px 0;
}

.rounded-top_left {
  border-radius: 4px 0 0 0;
}

.rounded-top_right {
  border-radius: 0 4px 0 0;
}

.rounded-bottom_left {
  border-radius: 0 0 0 4px;
}

.rounded-bottom_right {
  border-radius: 0 0 4px 0;
}

.group_action_button {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
