.cost-allocation_method__wrapper {
  padding: 8px 16px;

  .payment-cost-allocation_method__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    .absolute_amount {
      margin-top: -2px;
    }
    .cost-allocation_method__title {
      font-weight: 400;
      color: var(--color-text-label);
      font-size: 14px;
    }
    .cost-allocation_method__costdriver {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      width: 100%;
    }
    .cost-allocation_method__action {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      width: 100%;
    }
  }
  .cost-allocation_method__table {
    margin-top: 8px;
  }

  .total-amount-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--palette-base-neutral-10);
  }
}
