@import "../../../../../assets/scss/mixin/table_view";

.table {
  @include table-view;

  margin-bottom: 24px;

  tr th {
    width: calc(100% / 3);
    min-width: calc(100% / 3);
    vertical-align: top;
  }
}

.content-comment {
  margin: 0px 16px;
}

.content-scroll {
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;
}

.content-scroll-view {
  height: calc(100vh - 172px);
  overflow-y: auto;
  overflow-x: hidden;
}

.text-hyperlink {
  color: #077eda;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.row-content {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
}

.received-main {
  margin: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.received-information__comment {
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  margin: 16px;
}
// receiver and seller
.receiver-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .receiver-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #0c2042;
  }
  .receiver-main {
    margin-bottom: 16px;
    .receiver-content {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &__title {
        width: 200px;
        color: var(--palette-base-neutral-7);
      }
      &__value {
        color: var(--palette-base-neutral-10);
        font-weight: 500;
        flex-grow: 1;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
