.payment-schedule-table {
  margin-top: 12px;
  .icon {
    color: var(--palette-base-neutral-6);
  }
  .unit-title__container {
    height: 32px;
  }
  .text-pre-wrap {
    white-space: pre-wrap;
  }
  .ant-table-cell:has(.text-pre-wrap) {
    padding: 12px 0 !important;
    align-self: start !important;
  }
  .ant-table-cell {
    height: 44px !important;
  }
  .layout-cell {
    align-items: flex-start !important;
    min-height: 0;
  }
  .text-payment-day {
    width: 100px;
  }
  .text-payment-reminder {
    width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
