.form-upload__container {
  .form-upload__input {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 50px;
    margin-bottom: 8px;

    #form-file-upload {
      height: 44px !important;
    }
  }
}
