:global(
    .drawer__container.slide-out.drawer-2xl
  ).goods-services-detail__container {
  width: 1100px;

  :global(.drawer_footer) {
    width: 1100px;
  }

  .goods-services-detail__title {
    font-size: 18px;
    font-weight: 700;
    color: #0c2042;
  }

  .goods-services-detail__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .fields-group {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .fields-group__row {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .shipping-information {
      margin-bottom: 16px;
    }

    .shipping-information__title {
      font-size: 16px;
      font-weight: 600;
      color: #0c2042;
    }

    .shipping-information__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: start;
    }

    .empty-shipping-information {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #dfe1e6;
      border-radius: 6px;
      background-color: #fafbfc;
    }
    .empty-shipping-information__wrapper {
      display: flex;
      gap: 24px;
    }
    .empty-shipping-information__container {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: flex-start;
      gap: 12px;
    }
    .no-shipping-information-text {
      color: #7a869a;
    }

    .total-amount-section {
      display: flex;
      overflow: hidden;
      border: 1px solid var(--palette-base-blue-6);
      border-radius: 4px;
    }

    .total-amount-item {
      width: calc(100% / 3);
      flex-direction: column;
      gap: 4px;
      padding: 16px;
      color: #5e6c84;
      background-color: #e6f2fb;
      border-right: 1px solid var(--palette-base-blue-6);

      &:last-child {
        border-right: none;
      }

      .title {
        font-size: 12px;
      }
    }

    .primary-number {
      font-weight: 500;
      color: #0c2042;
    }

    .secondary-number {
      font-weight: 500;
      color: #42526e;
    }

    .currency {
      font-size: 10px;
      font-weight: 500;
    }

    .delete-shipping-row {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: transparent;
      background-color: transparent;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    // View Goods services Details
    .goods-services-detail-table {
      table {
        width: 100%;
      }

      table,
      th,
      td {
        border: 1px solid #dfe1e6;
        border-collapse: collapse;
      }
      th {
        background-color: #f4f5f7;
      }
      th,
      td {
        width: calc(100% / 3);
        height: 72px;
        padding: 16px;
        vertical-align: top;
      }

      .goods-services-detail__cell {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      .goods-services-detail__cell-label {
        font-size: 12px;
        font-weight: 400;
        color: #5e6c84;
      }
      .goods-services-detail__cell-value {
        font-size: 14px;
        font-weight: 500;
        color: #0c2042;
      }
      .goods-services-detail__cell-file {
        display: flex;
        gap: 8px;
      }
      .goods-services-detail__cell-file--name {
        font-size: 14px;
        font-weight: 500;
        color: #0673c6;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
