.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.status-tag {
  align-self: flex-start;
}

.text-name {
  color: var(--text-color-base-neutral-10);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.code-container {
  display: flex;
  flex: 1;
  gap: 4px;
  cursor: pointer;

  img {
    align-self: flex-start;
  }
}

.text-code {
  color: var(--text-color-base-neutral-10);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  overflow-wrap: anywhere;
}

.description-section {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  gap: 8px;
  padding: 16px 12px 12px;
  border-radius: 4px;
}

.description-label {
  color: #5e6c84;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.description-value {
  color: var(--text-color-base-neutral-10);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;
  word-break: break-word;
}
