.detail_supplier {
  padding: 0;

  :global(.ant-collapse-item) {
    box-shadow: unset !important;
    margin-top: 0 !important;
  }

  :global(.ant-collapse-content-box) {
    padding-right: 0 !important;
  }
}
