.tab-action-project-settlement__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 4px;
}

.table-container {
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    height: 44px;
  }
}
