.evaluation_criteria_list {
  .w-150 {
    width: 150px;
  }

  .require {
    color: #da3e33;
  }

  .red {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--palette-base-red-6) !important;
  }

  .btn svg {
    width: 24px !important;
    height: 24px !important;
  }

  .select-box {
    display: flex;
    gap: 16px;
  }

  .select-evaluation-form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .evaluation-method {
    .label {
      color: #5e6c84;
    }

    .value {
      color: #000;
      font-weight: bold;
    }

    .ic {
      font-size: 21px;
      color: #dfe1e6;
    }

    .red {
      color: #da3e33;
      margin: 4px;
    }
  }

  .header-tech-criteria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .title .score-rate {
      position: relative;
      top: 0px;
    }
  }

  .title {
    margin-bottom: 4px;
    display: flex;
    align-items: flex-end;

    &-score {
      width: 100%;
    }

    .score-rate {
      position: relative;
      top: -6px;
      max-width: 120px;

      .point-rate {
        margin-left: 8px;
        position: relative;
        top: -2px;
      }

      .input-number {
        width: 120px;
      }
    }
  }
}
