.tab_container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;

  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 220px);

  .row_wrapper {
    display: flex;
    width: 100%;
    gap: 12px;

    .select_supplier {
      width: 100%;

      .input-text__wrapper .input-text__container.input-text--readOnly {
        background-color: white;
      }
    }
  }

  .row_wrapper .ant-col {
    display: flex;
    gap: 12px;
    flex-shrink: 1;
  }
}
