.comment-container {
  padding: 16px;
  padding-top: 0px;
  background: var(--palette-base-neutral-1);
}

.content-container {
  height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;

  &.has-tab {
    height: calc(100vh - 204px);
  }
}
