.table-data {
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  height: calc(100vh - 300px);
  border-left: 1px solid #dfe1e6;
  border-right: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .w_100 {
    width: 100px;
  }

  .w_140 {
    width: 140px;
  }

  .w_145 {
    width: 145px;
  }

  .w_200 {
    width: 200px;
  }

  .w_240 {
    width: 240px;
  }

  .title {
    padding: 0px 8px;
    border: 1px solid #dfe1e6;
    background-color: #f4f5f7;

    &:first-child {
      border-left: none;
    }
  }

  .title2 {
    border: 1px solid #dfe1e6;
    background-color: #f4f5f7;
    width: 435px;
    text-align: center;
    padding: 0px;

    .text {
      padding: 12px 0px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #0c2042;
    }

    .second-title {
      display: flex;
      flex-direction: row;

      .first {
        align-items: flex-end;
        justify-content: flex-end;
        border-top: 1px solid #dfe1e6;
        width: 145px;
        padding-right: 8px;
      }

      .seconds {
        border-top: 1px solid #dfe1e6;
        border-right: 1px solid #dfe1e6;
        border-left: 1px solid #dfe1e6;
        width: 145px;
        padding-right: 8px;
      }

      .last {
        border-top: 1px solid #dfe1e6;
        width: 145px;
        padding-right: 8px;
      }
    }
  }

  .sum-wrapper {
    background-color: #f4f5f7;

    td {
      padding: 0px;
    }

    .text {
      margin: 0px 8px;
      font-size: 14px;
      line-height: 20px;
      color: #0c2042;
      font-weight: 600;
    }

    .text-bold {
      margin: 10px 8px;
      font-size: 14px;
      line-height: 20px;
      color: #0c2042;
      font-weight: 600;
      text-align: right;
    }

    .section {
      display: flex;
      flex-direction: row;
      padding: 0px;
      height: 100%;

      .first {
        width: 145px;
      }
    }
  }

  .number {
    margin: 0px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #0c2042;
    font-weight: 600;
    text-align: right;

    &.positive {
      color: #219342;
    }

    &.negative {
      color: #da3e33;
    }

    &.neutral {
      color: #0c2042;
    }
  }
}
