.temporary_import_asset__container {
  margin: 15px 16px 16px 16px;
}

.temporary_import_asset__main {
  display: flex;
  flex-direction: column;
}

.temporary_import_asset__text {
  font-size: 16px;
  font-weight: 700;
  color: #0c2042;
  margin-bottom: 16px;
}
