.PurchaseRequest {
  &__ctn__button--nodata {
    display: flex;
    gap: 8px;
  }

  &__advance__filter {
    &__seperate__item {
      display: flex;
      width: 32px;
      height: 100%;
      padding-top: 8px;
      align-items: center;
      justify-content: center;
    }
  }
}

.PurchaseRequestFilter {
  .filter-panel-container {
    max-width: 830px;
  }
}

.page-container {
  margin: -16px;

  .ant-tabs .ant-tabs-content-holder {
    padding: 16px;
    background: #f4f5f7;
    height: calc(100vh - 177px);
  }

  .ant-tabs .ant-tabs-content {
    padding: 16px;
    background: white;
    border-radius: 8px;
  }

  .page-header {
    position: relative;
    border-radius: 0;
    height: var(--height-page-title) !important;
  }

  .ant-tabs-top > .ant-tabs-nav {
    margin: 0 0 0 0 !important;
  }

  .content-tab {
    :global(.ant-tabs-nav) {
      margin-bottom: 0 !important;

      :global(.ant-tabs-nav-wrap) {
        width: 100%;
        padding: 0 16px;
        border-bottom: 1px solid var(--palette-base-neutral-3);

        :global(.ant-tabs-tab) {
          box-shadow: unset !important;
          height: 43px !important;
        }

        :global(.ant-tabs-ink-bar) {
          background-color: transparent;
        }
      }
    }
  }
}
