.contract-information {
  .text-code {
    color: var(--palette-base-blue-5);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .text-value {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    line-height: 20px;
  }
}
