.ant-switch.ant-switch-checked {
  background-color: #dd502e;
  position: relative;

  &:hover {
    background-color: #dd502e !important;
  }
}

.modal__container {
  .ant-modal-body {
    .modal_content {
      padding: 0px !important;
      justify-content: space-between;
      align-items: baseline;
    }

    .header-modal {
      display: none;
    }
  }

  .ant-modal-footer .footer-modal {
    border: none;
  }
}

.delete-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
  }
}
