.cost-line__empty-container {
  height: calc(100vh - var(--container-height, auto));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}
