.evaluation_team_information_tab {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 220px);
}

.red {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--palette-base-red-6) !important;
}

.btn svg {
  width: 24px !important;
  height: 24px !important;
}
