.total-point-text {
  margin-left: -50px;
  font-weight: 600;
}

.evaluation-method {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;

  &:nth-of-type(3) {
    margin-top: 24px;
  }

  &__separator {
    color: #dfe1e6;
  }

  &__title {
    color: #5e6c84;
  }

  &__value {
    color: #0c2042;
    font-weight: 600;
  }
}
