.settlement-asset-info-drawer {
  width: 1100px !important;

  .drawer__header {
    position: sticky;
    top: 0;
    background-color: var(--ck-color-base-background);
    z-index: 1000;
  }

  .drawer_footer {
    width: 1100px !important;
  }

  .asset-info-container {
    border: 1px solid #dfe1e6;
    overflow: hidden;
  }

  .asset-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-collapse: collapse;
  }

  .asset-item {
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dfe1e6;
    border-right: 1px solid #dfe1e6;

    &:nth-child(3n) {
      border-right: none;
    }
  }

  .asset-item:last-child,
  .full-width {
    border-right: none;
  }

  .highlighted {
    background-color: var(--palette-base-neutral-2);
  }

  .two-thirds {
    grid-column: span 2;
    border-right: none;
  }

  .full-width {
    grid-column: span 3;
  }

  .label {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-text-label);
  }

  .value {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-text);
  }

  .border-bottom-none {
    border-bottom: none;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}
.check_asset {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: none;
  background-color: transparent;
  &:disabled {
    cursor: not-allowed;
    span {
      color: var(--color-text-disable);
      .svg-path {
        fill: var(--color-text-disable);
        stroke: var(--color-text-disable);
      }
    }
  }
  span {
    color: var(--color-primary);
    font-weight: 500;
    .svg-path {
      fill: var(--color-primary);
      stroke: var(--color-primary);
    }
  }
}
