.filter-container {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;

  .search {
    max-width: 370px;
  }

  .form-date {
    max-width: 250px;
  }

  .connect {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
}
