.cost_allocation_detail {
  .cost-allocation_method__wrapper {
    padding: 8px 0px;

    .cost-allocation_method__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      .absolute_amount {
        margin-top: -2px;
      }
      .cost-allocation_method__title {
        font-weight: 400;
        color: var(--color-text-label);
        font-size: 14px;
      }
    }
    .cost-allocation_method__table {
      margin-top: 8px;
    }
  }
}

.amount-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--palette-base-neutral-10);
  text-align: right;
}

.amount-total {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--palette-base-neutral-10);
  text-align: right;
}
