.goods-service {
  :global(.ant-table-thead .ant-table-cell) {
    vertical-align: top;
  }

  :global(th.ant-table-row) {
    :global(.layout-cell) {
      margin-top: 12px;
      align-items: flex-start !important;
    }

    :global(.ant-checkbox-wrapper) {
      margin-top: 9px !important;
    }
  }

  :global(.ant-table-row:nth-child(2)) {
    font-weight: 600;

    :global(.text-in-table-cell) {
      color: #c03629 !important;
    }
  }

  :global(.ant-table-selection-column) {
    z-index: 3;
  }

  .unit--hidden {
    :global(.text-unit) {
      opacity: 0;
    }
  }

  .unit--hidden {
    :global(.text-unit) {
      opacity: 0;
    }
  }

  .text-blue {
    color: var(--palette-base-blue-5);
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
  }

  .padding-row {
    padding-left: 32px;
  }

  .text-gray {
    color: #5e6c84;
    font-size: 14px;
  }

  .bg-gray {
    td {
      background-color: var(--palette-base-neutral-2);
    }
  }

  .collapse-icon {
    width: 52px;
  }

  :global(.action-row) {
    position: static;
  }

  .text-variance {
    color: var(--palette-base-green-6);

    &--incomplete {
      color: #da3e33;
    }
  }
}

.drawer {
  max-width: 1100px;
  :global(.drawer__body) {
    padding: 0 0 48px 0 !important;
    height: calc(100vh - 61px - 56px) !important;
  }

  :global(.drawer_footer) {
    z-index: 9999;
    width: 90vw !important;
    max-width: 1100px !important;
  }

  :global(.drawer__content) {
    background-color: rgb(250, 251, 252) !important;
  }
}
