.contract-container {
  width: 100%;
  margin-bottom: 48px;
  .contract-title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .contract-main {
    .contract-main__header {
      display: flex;
      flex-direction: column;
      background-color: #e6f2fb80;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
      .contract-code {
        cursor: pointer;
        max-width: max-content;
        font-size: 28px;
        color: #077eda;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
      .contract-information {
        font-weight: 600;
        font-size: 17px;
        margin: 8px 0 5px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: normal;
      }

      .contract-description {
        font-weight: 500;
      }
    }
    .contract-main__col {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      .contract-content__title {
        color: #5e6c84;
      }
      .contract-content__value {
        color: #0c2042;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 0;
        &:first-of-type {
          margin-top: 2px;
        }
        .contract-value__two {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
