.collapse-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    width: 40px;
    flex-shrink: 0;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transform: rotate(-90deg);
      transition: 0.3s ease-out;
    }
  }

  &--expandable {
    .collapse-button__icon {
      img {
        transform: rotate(0deg);
        transition: 0.5s ease-in;
      }
    }
  }

  &__label {
    color: var(--palette-base-neutral-10);
    font-weight: 600;
    user-select: none;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.header-expand {
  color: var(--palette-base-neutral-8);
  font-family: 400;
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 44px;
}

.border {
  border: 1px solid #f0f0f0;
  border-bottom: transparent;
  border-radius: 8px;
}
