.payment {
  &-title_collage {
    .ant-collapse-header {
      padding: 12px 0 !important;
    }
    .collage_custom.collage_custom_border {
      .ant-collapse-item {
        .ant-collapse-header {
          border-top: 1px solid var(--palette-base-neutral-3) !important;
        }
      }
    }
    .collage_custom.collage_custom_border.collage_custom_border_accounting {
      .ant-collapse-item:first-child {
        .ant-collapse-header {
          border-top: none !important;
        }
      }
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
    .ant-collapse-item {
      margin-bottom: 24px !important;
    }
  }
  &-border_title_collage > .ant-collapse-header {
    border-bottom: 1px solid var(--palette-base-neutral-3) !important;
  }

  &-custom_input--disabled {
    .input-text--readOnly {
      background-color: #fff !important;
    }
  }
  &-w-152 {
    width: 152px;
  }
  &-gap-16 {
    gap: 16px;
  }
  &-custom_table {
    th {
      vertical-align: baseline !important;
    }
  }
  &-top {
    top: calc(0.75 * var(--space-unit) * -1);
  }
  &-bg_color {
    background-color: var(--palette-base-neutral-2);
  }

  &-tag_bg {
    background-color: var(--palette-base-neutral-2);
    border-radius: calc(0.25 * var(--space-unit));
    padding: 2px 4px;
  }
  &-label {
    color: var(--color-text-label) !important ;
    font-size: 12px;
  }
  &-color_text_label {
    color: var(--color-text-label) !important;
  }
  &-label_font_10 {
    font-size: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 11.5px;
  }
  &-custom_form {
    color: var(--color-text) !important;
  }
  &-custom_grid {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    &-col_10 {
      grid-column: span 10;
    }
    &-col_4 {
      grid-column: span 4;
    }
  }
  &-custom_grid_9 {
    grid-gap: 12px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    &-col_2 {
      grid-column: span 2;
    }
    &-col_3 {
      grid-column: span 3;
    }
    &-col_4 {
      grid-column: span 4;
    }
    &-col_6 {
      grid-column: span 6;
    }
    &-col_9 {
      grid-column: span 9;
    }
  }

  &-custom_grid_12 {
    grid-gap: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    &-col_3 {
      grid-column: span 3;
    }
    &-col_6 {
      grid-column: span 6;
    }
    &-col_5 {
      grid-column: span 5;
    }
    &-col_4 {
      grid-column: span 4;
    }
    &-col_9 {
      grid-column: span 9;
    }
    &-col_12 {
      grid-column: span 12;
    }
    &-align-end {
      align-items: end;
    }
  }

  &-flex_basis {
    flex-basis: 400px;
  }
  &-custom_datepicker {
    .date-picker__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }
    .date-range__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }
  }
  &-custom_input {
    .input-number__label {
      label {
        color: var(--color-text-label) !important;
        line-height: 20px;
      }
    }
  }
  &-custom_textArea {
    textarea {
      resize: none !important;
      height: 42px !important;
    }
    .text-area__label {
      label {
        color: var(--color-text-label) !important;
        //line-height: 20px;
      }
    }
  }
  &-gap-12 {
    gap: 12px;
  }
  &-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
  }
  .p-y--xs {
    --space-xs: 8px !important;
  }
  &-font-14 {
    font-size: 14px;
  }
  &-second-line {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: var(--palette-base-neutral-8);
  }
  &-cell_blue {
    color: var(--palette-base-blue-5) !important;
  }
  &-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 8px;
  }
  &-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 8px;
  }
  &-relative {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }
  &-colorTextLabel {
    color: var(--color-text-label) !important;
  }
  &-row {
    vertical-align: top;
  }
  &-red {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--palette-base-red-6) !important;
  }
  &-trash_icon {
    color: var(--palette-base-red-6);
  }
  &-w-30 {
    width: 30px;
  }
  &-custom_dash {
    border: 1px dashed #d9dadb;
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-base-neutral-1);
    border-radius: 6px;
  }
  &-custom_upload {
    .children-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  &-color_button {
    .btn-component {
      color: var(--palette-brand-6) !important;
      border-color: var(--palette-brand-6) !important;
    }
    .children-content {
      color: var(--palette-brand-6) !important;
    }
  }
  &-custom_absolute {
    left: -214px;
    top: -100px;
    position: absolute;
  }
  &-custom_transform {
    transform: translateX(30px);
  }
  .upload-dropzone {
    height: 170px;
    background-color: var(--palette-base-neutral-1);
  }
  &-min_w_360 {
    min-width: 360px;
  }
  &-right_0 {
    right: 0;
    top: -4px;
  }
  &-minHeight {
    min-height: 200px;
  }
  &-custom_button_download {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, 45%);
  }
  &-height_40 {
    height: 40px;
  }

  &-text_normal {
    color: var(--palette-base-neutral-10);
  }
  &-modal_height {
    height: 688px !important;
    overflow: hidden !important;
  }
  &-label_none {
    label {
      display: none;
    }
  }
  &-gap_x_1 {
    gap: 0 4px;
  }
  &-gap_x_2 {
    gap: 0 8px;
  }

  &-flex_space_between {
    display: flex;
    justify-content: space-between;
  }
  &-align_items_end {
    align-items: end;
  }
  &-custom_row_table {
    .input-text__wrapper,
    .message-validation span {
      min-height: 16px !important;
      height: auto !important;
    }
    .input-number__wrapper {
      min-height: 16px !important;
      height: auto !important;
    }
    td {
      vertical-align: top;
    }
  }
  &_bank_transfer_modal {
    margin: 40px 0;
  }
  &-size-24 {
    font-size: 24px;
  }

  &-supplier-read-only {
    .form-item__container {
      .form-item__content {
        .input-text__wrapper {
          .component__input {
            border-color: var(--palette-base-neutral-4) !important;
          }
        }
      }
    }
  }
  &-error--icon {
    .upload-link {
      img {
        filter: brightness(0) saturate(100%) invert(26%) sepia(48%)
          saturate(1643%) hue-rotate(328deg) brightness(118%) contrast(111%) !important;
      }
    }
  }
}

.disable_button_icon {
  .button-content {
    img {
      filter: brightness(0) saturate(100%) invert(64%) sepia(9%) saturate(427%)
        hue-rotate(171deg) brightness(93%) contrast(84%) !important;
    }
  }
}

.payment-wrap-modal {
  z-index: 99999 !important;
}
