.supplier-details-form-view {
  .bg_grey {
    background: var(--palette-base-neutral-2);
  }

  .primary-text {
    font-weight: 600;
    color: var(--palette-base-blue-5) !important;
    cursor: pointer;
  }
}
