.evaluation {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  &-form {
    padding: 30px 16px 39px 16px;
    border-top: 1px solid var(--palette-base-neutral-3);
    border-bottom: 1px solid var(--palette-base-neutral-3);
    margin: auto -16px 16px;
  }
}

.form-item__message {
  margin-left: 13px !important;
}
