.content-container {
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;

  :global(.ant-collapse-item:first-child > .ant-collapse-header) {
    border-top: none !important;
  }

  :global(.section_body-history) {
    margin: 0;

    :global(.history-title) {
      display: none;
    }
  }

  :global(.section_title > .btn-component) {
    margin-top: 0;
  }
  .text-blue {
    color: #077eda;
    font-weight: 600;
    text-decoration: none;
  }
}
