.page-master {
  .action_bar {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;

    .search_input_wrapper {
      width: 300px;
    }
  }

  th.custom_appointment {
    padding: 9px 4px !important;
  }
}

.button_link {
  font-size: 14px;
  font-weight: 600;
  color: var(--palette-blue-50);
  line-height: 20px;
  text-decoration: none;

  &:hover {
    color: var(--palette-blue-50);
  }
}

.empty_message {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-tertiary);
}
