.proposed-basis_wrapper {
  padding: 16px;
  border-top: 1px solid var(--palette-base-neutral-3);

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }
  .body-proposed {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;
  }
}
.form-edit_wrapper {
  padding: 12px 16px;
  border: 1px solid var(--palette-base-neutral-3);
  background-color: var(--palette-base-neutral-2);
  border-radius: 4px;
  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }
  .body-form-edit_wrapper {
    border: 1px solid var(--palette-base-neutral-3);
    border-radius: 4px;
    margin-top: 12px;

    .ck.ck-editor__main > .ck-editor__editable {
      background: #fff;
      min-height: 98px;
      max-height: 380px;
    }
  }
  .form-edit_wrapper-detail {
    img {
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
    }
  }
}
.hidden {
  display: none;
}
