.custom-table {
  :global(.ant-table-thead .ant-table-cell),
  :global(.ant-table-row) {
    vertical-align: top;
  }

  :global(.ant-table-row) {
    :global(.layout-cell) {
      margin-top: 12px;
      align-items: flex-start !important;
    }

    :global(.ant-checkbox-wrapper) {
      margin-top: 9px !important;
    }

    .payment-day {
      width: 100px;
      flex-shrink: 0;

      :global(.text-in-table-cell) {
        width: fit-content;
      }
    }

    .font-bolder {
      font-weight: 700;
    }
  }

  .unit-hidden {
    :global(.text-unit) {
      opacity: 0;
    }
  }
}

.content-collapse {
  height: calc(100vh - 216px);
  overflow-y: auto;
  overflow-x: hidden;

  .calculation-select {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;

    > label {
      flex-shrink: 0;
      font-weight: 600;
    }

    :global(.select__container) {
      width: 200px;
    }
  }
}
