.Histories-file-table {
  td:nth-child(1) {
    vertical-align: text-top;
  }

  td:nth-child(3) {
    vertical-align: text-top;
  }

  .cell-two-line .frame-text .second-line {
    font-size: 14px;
  }
}
