.drawer {
  max-width: 720px;
  :global(.drawer__body) {
    padding: 0 0 48px 0 !important;
    height: calc(100vh - 61px - 56px) !important;
  }

  :global(.drawer_footer) {
    z-index: 9999;
    width: 90vw !important;
    max-width: 720px !important;
  }
}

.collapse__container_over {
  :global(.ant-collapse-item) {
    border: none !important;
    box-shadow: none !important;
  }
}

.drawer-border-top {
  border-top: 1px solid #dfe1e6 !important;
  margin: 10px 16px 10px 16px;
}

.custom-drawer {
  :global(.drawer__container) {
    top: 0 !important;
  }
}
