.total-amount-item {
  width: calc(100% / 3);
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  color: #5e6c84;
  background-color: #e6f2fb;
  border-right: 1px solid var(--palette-base-blue-6);

  &:last-child {
    border-right: none;
  }

  .title {
    font-size: 12px;
  }

  .primary-number {
    font-weight: 500;
    color: #0c2042;
  }

  .secondary-number {
    font-weight: 500;
    color: #42526e;
  }

  .currency {
    font-size: 10px;
    font-weight: 500;
  }
}
