.contract-annex-information__empty {
  background-color: var(--palette-base-neutral-2);
  padding: 8px 12px;
  border: 1px solid var(--palette-base-neutral-3);
  border-radius: 4px;
  height: 100%;
  .contract-annex-information__empty-text {
    color: #0c2042;
    font-size: 14px;
  }
}
