.policy_info_wrapper {
  padding: 16px;
  border-top: 1px solid var(--palette-base-neutral-3);

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--palette-base-neutral-10);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    .purchase_proposal_data_wrapper {
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid var(--palette-base-neutral-3);

      .item_row {
        border-bottom: 1px solid var(--palette-base-neutral-3);

        &:last-child {
          border-bottom: none;
        }
        .item_col {
          padding: 16px;
          border-right: 1px solid var(--palette-base-neutral-3);
          display: flex;
          flex-direction: column;

          &:last-child {
            border-right: none;
          }
          .label {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: var(--palette-base-neutral-7);
          }
          .value {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: var(--palette-base-neutral-10);
          }

          .text_blue {
            color: var(--palette-base-blue-5);
          }
        }
        .item_col--stacked {
          display: flex;
          flex-direction: column;
        }
      }
      .bg_grey {
        background: var(--palette-base-neutral-2);
      }
    }
  }
  .empty__wrapper {
    padding: 24px;
    background: var(--palette-base-neutral-1);
    border: 1px dashed #d9dadb;
    border-radius: 6px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

    .empty__body__content {
      .content {
        font-size: 14px;
        font-weight: 400;
        color: var(--palette-base-neutral-6);
        line-height: 20px;
      }
      .content__import {
        font-weight: 700;
      }
      .empty__body__content__button {
        display: flex;
        gap: 8px;
        margin-top: 12px;
      }
    }
  }
}
