.contract_basic_info_wrapper {
  padding: 16px;
  border-bottom: 1px solid var(--palette-base-neutral-3);

  .body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;

    .item_row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
    }
  }
}
