.layout__container {
  .layout-body {
    padding-top: 48px;
    .layout-sidebar {
      display: flex;
    }
  }
  .layout-footer {
    position: absolute;
    padding: 8px 16px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    text-align: center;
    color: var(--palette-gray-100);
    z-index: 300;
    background-color: var(--color-white);
    width: 100%;
  }
  .layout-body__main {
    .page-body {
      // display: flex;
      width: 100%;
      height: calc(100vh - 48px);
      background-color: white;
      padding: 16px;
      .page-content {
        box-shadow: 0px 4px 12px 0px #dfe1e6, 0px 0px 1px 0px #97a0af;
        // flex-grow: 1;
        &.page-content-detail {
          margin-top: 99px;
          margin-bottom: 45px;
          background-color: #ffffff;
          &.detail--no-spacing {
            margin-top: 96px;
          }
          &.detail--no-header {
            background-color: transparent !important;
            margin-top: 20px !important;
          }
        }
        &.page-content--splited {
          margin-top: 99px;
          .page-section {
            height: 100%;
            .section-left {
              background-color: #fff;
            }
            .section-right {
              margin-top: var(--space-lg);
              height: calc(100% - var(--space-lg));
            }
          }
        }
      }
    }
  }
}
